texto test

In [1]:
import pandas as pd

In [ ]:
201901	201902	202001	202002
18	23	27	23
18	18	23	23
18	18	18	27
18	23	23	23
23	23	23	23
27	27	27	27

In [2]:
perfil_alumno = [
    ['201700000', 18, 18, 18, 18],
    ['201818909', 18, 23, 27, 23], 
    ['201621635',18,	18,	23,	23],
    ['201710287',18,	18,	18,	27],
    ['201720918', 18,	23, 23,	23],
    ['201810705', 23,	23,	23,	23],
    ['201820634', 27,	27,	27,	27]
]

In [3]:
perfil_alumno_df = pd.DataFrame.from_records(perfil_alumno, columns=['COD_ALUMNO', '201901', '201902', '202001', '202002'])

In [4]:
perfil_alumno_df

  COD_ALUMNO  201901  201902  202001  202002
0  201700000      18      18      18      18
1  201818909      18      23      27      23
2  201621635      18      18      23      23
3  201710287      18      18      18      27
4  201720918      18      23      23      23
5  201810705      23      23      23      23
6  201820634      27      27      27      27

In [ ]:
alumno_query = perfil_alumno_df[perfil_alumno_df['COD_ALUMNO'] == '201700000']
total_creditos = alumno_query['201901'].values + alumno_query['201902'].values + alumno_query['202001'].values + alumno_query['202002'].values
total_creditos

array([72])

In [ ]:
#Si un alumno tiene en los 4 semestre 18 cred como max tiene 1

def rendimiento_alumno(cod_alumno):
    # si en el periodo 201901 tiene 18, en el periodo 201902 tiene 18, si en el periodo 202001 tiene 18, si en el periodo 202002 tiene 18, entonces 1
    alumno_query = perfil_alumno_df[perfil_alumno_df['COD_ALUMNO'] == cod_alumno]
    total_creditos = alumno_query['201901'].values + alumno_query['201902'].values + alumno_query['202001'].values + alumno_query['202002'].values    
    performance = total_creditos[0] / 4    
    print(performance)
    if performance <= 18.0:
        return 1

    # CASO 2

    # CASO 3

    # cASO 4

    return -1

In [ ]:
cod_alumno = '201818909'
print(rendimiento_alumno(cod_alumno))

22.75
-1

In [ ]:
#Si un alumno tiene en los 4 semestre 23 cred como max tiene 4

In [ ]:
#Si un alumno tiene en los 4 semestre 27 cred como max tiene 5

In [ ]:
#Si un alumno tiene en los últimos periodos 18 cred max y en uno mayor a este, tiene 2

In [ ]:
#Si un alumno tiene en en sus periodos 23 y 27 y en el último 18  tiene 3

In [ ]:
#Si un alumno tiene en el último periodo 27 cred y en sus últimos periodos variabilidad tiene 3.5

#Si un alumno termina en su último ciclo con 27 tiene 4

#Si un alumno termina en su último ciclo con 27 y en unos de sus últimos 4 periodos 27 tiene 4.5

In [ ]:
# cargar en esta variable el banco de cursos ing industrial

banco_de_cursos = {
                   'A': 17, aprobados/total_alumno, ES_CRITICO
                   'B', 16, *, NO_CRITICO
                   'C', 14. ***, NO_CRITICO
}

curso_disponibles_alumno = ["A", "B", "C"]

def cursos_recomendados_alumno(cursos_disponibles_alumno):
   for curso_disponible in cursos_disponibles_alumno:
       descripcion_curso = banco_cursos[curso_disponible]
       # heuristica para colocar probabilidad de recomendacion a partir de la descripcion del curso
      
      A, 0.9
      B, 0.7
      C, 0.1

In [ ]:
cursos_disponibles

In [ ]:
#escoger el curso que este vigente 
#recomendar el de mayor nota
#considerar el ciclo en que se lleva el curso
#el alumno tiene hasta 3 niveles de dispersion en reglamento
#considerar que el alumno cubra su carga maxima teniendo la prioridad los cursos obligatorios y luego los electivos(dependera cuantos les faltan)
#recomendar el curso que da mejor avance curricular como prioridad