texto test

In [4]:
import pandas as pd

In [ ]:
201901	201902	202001	202002
18	23	27	23
18	18	23	23
18	18	18	27
18	23	23	23
23	23	23	23
27	27	27	27

In [5]:
perfil_alumno = [
    ['201700000', 18, 18, 18, 18],
    ['201818909', 18, 23, 27, 23], 
    ['201621635',18,	18,	23,	23],
    ['201710287',18,	18,	18,	27],
    ['201720918', 18,	23, 23,	23],
    ['201810705', 23,	23,	23,	23],
    ['201820634', 27,	27,	27,	27]
]

In [6]:
perfil_alumno_df = pd.DataFrame.from_records(perfil_alumno, columns=['COD_ALUMNO', '201901', '201902', '202001', '202002'])

In [7]:
perfil_alumno_df

  COD_ALUMNO  201901  201902  202001  202002
0  201700000      18      18      18      18
1  201818909      18      23      27      23
2  201621635      18      18      23      23
3  201710287      18      18      18      27
4  201720918      18      23      23      23
5  201810705      23      23      23      23
6  201820634      27      27      27      27

In [8]:
alumno_query = perfil_alumno_df[perfil_alumno_df['COD_ALUMNO'] == '201700000']

In [9]:
total_creditos = alumno_query['201901'].values + alumno_query['201902'].values + alumno_query['202001'].values + alumno_query['202002'].values
total_creditos

array([72])

In [ ]:
#Si un alumno tiene en los 4 semestre 18 cred como max tiene 1

def rendimiento_alumno(cod_alumno):
    # si en el periodo 201901 tiene 18, en el periodo 201902 tiene 18, si en el periodo 202001 tiene 18, si en el periodo 202002 tiene 18, entonces 1
    alumno_query = perfil_alumno_df[perfil_alumno_df['COD_ALUMNO'] == cod_alumno]
    total_creditos = alumno_query['201901'].values + alumno_query['201902'].values + alumno_query['202001'].values + alumno_query['202002'].values    
    performance = total_creditos[0] / 4    
    print(performance)
    if performance <= 18.0:
        return 1

    # CASO 2

    # CASO 3

    # cASO 4

    return -1

In [ ]:
cod_alumno = '201818909'
print(rendimiento_alumno(cod_alumno))

In [ ]:
#Si un alumno tiene en los 4 semestre 23 cred como max tiene 4

In [ ]:
#Si un alumno tiene en los 4 semestre 27 cred como max tiene 5

In [ ]:
#Si un alumno tiene en los Ãºltimos periodos 18 cred max y en uno mayor a este, tiene 2

In [ ]:
#Si un alumno tiene en en sus periodos 23 y 27 y en el Ãºltimo 18  tiene 3

In [ ]:
#Si un alumno tiene en el Ãºltimo periodo 27 cred y en sus Ãºltimos periodos variabilidad tiene 3.5

#Si un alumno termina en su Ãºltimo ciclo con 27 tiene 4

#Si un alumno termina en su Ãºltimo ciclo con 27 y en unos de sus Ãºltimos 4 periodos 27 tiene 4.5

In [ ]:
# cargar en esta variable el banco de cursos ing industrial

banco_de_cursos = {
                   'A': 17, aprobados/total_alumno, ES_CRITICO
                   'B', 16, *, NO_CRITICO
                   'C', 14. ***, NO_CRITICO
}

curso_disponibles_alumno = ["A", "B", "C"]

def cursos_recomendados_alumno(cursos_disponibles_alumno):
   for curso_disponible in cursos_disponibles_alumno:
       descripcion_curso = banco_cursos[curso_disponible]
       # heuristica para colocar probabilidad de recomendacion a partir de la descripcion del curso
      
      A, 0.9
      B, 0.7
      C, 0.1

## Banco de cursos

In [38]:
import pandas as pd

In [39]:
banco_cursos = pd.read_csv('../data/cursos_curricula_requisitos.csv', index_col='Unnamed: 0', sep=';')

In [40]:
banco_cursos.columns

Index(['COD_LINEA_NEGOCIO', 'COD_PRODUCTO', 'DESC_PRODUCTO', 'COD_CURRICULO',
       'DESC_CURRICULO', 'COD_CURSO', 'DESC_CURSO', 'DESC_ABRE_CURSO', 'clave',
       'COD_DIRECCION', 'NOM_DIRECCION', 'COD_CURSO_ELEC', 'CICLO',
       'CANT_CREDITOS', 'CANT_CREDEQUIV', 'FECHA_CREACION', 'USUARIO_CREACION',
       'FECHA_MODIFICACION', 'USUARIO_MODIFICACION', 'TOTAL CRED', 'REQUISITO',
       'REQUISITO PYTHON', 'Ruta Critica', 'Unnamed: 24',
       'prom_promedios_notas', 'prom_promedios_Aprob'],
      dtype='object')

In [41]:
banco_cursos = banco_cursos[['COD_CURRICULO', 'COD_CURSO', 'prom_promedios_notas', 'prom_promedios_Aprob', 'Ruta Critica', 'TOTAL CRED']]

In [42]:
banco_cursos

,COD_CURRICULO,COD_CURSO,prom_promedios_notas,prom_promedios_Aprob,Ruta Critica,TOTAL CRED
0,44,AM130,"14,00",100%,1.0,3
1,45,AM130,"15,26",80%,1.0,3
2,45,HU543,"15,13",74%,2.0,4
3,45,HU548,"14,15",65%,0.0,2
4,44,HU543,"15,33",77%,2.0,4
...,...,...,...,...,...,...
548,41,HU522,"15,70",58%,0.0,3
549,41,TR240,"14,00",40%,0.0,3
550,41,HU469,"16,44",75%,0.0,3
551,41,DE440,#DIV/0!,#DIV/0!,0.0,2
552,42,IN97,"14,59",86%,0.0,4

## Alumno y lista de cursos para matricula

In [1]:
malla = 44
cod_alumno = '201322051'
lista_cursos = ['AH57', 'HU187', 'HU469', 'HU508', 'HU51', 'IN134', 'IN149', 'IN150', 'IN155', \
                'IN181','IN183','IN184', 'IN185', 'IN186', 'IN187', 'IN215', 'IN93', 'IN160', \
                'IN176', 'IN214', 'IN398', 'IN92','MA264']

In [2]:
print(len(lista_cursos))

23

## Sistema de Recomendacion

- Filtra por malla
- Busca en el banco de datos la lista de cursos para matricula del alumno

In [20]:
banco_cursos_malla = banco_cursos[banco_cursos['COD_CURRICULO'] == malla]

In [22]:
banco_cursos_malla

,COD_CURRICULO,COD_CURSO,prom_promedios_notas,prom_promedios_Aprob,Ruta Critica
0,44,AM130,"14,00",100%,1.0
4,44,HU543,"15,33",77%,2.0
5,44,HU548,"15,76",82%,0.0
6,44,HU187,"15,10",80%,0.0
9,44,IN142,"15,18",80%,1.0
...,...,...,...,...,...
225,44,TR197,#DIV/0!,#DIV/0!,0.0
227,44,TR223,#DIV/0!,#DIV/0!,0.0
229,44,TR240,"14,00",40%,0.0
231,44,TR222,#DIV/0!,#DIV/0!,1.0
233,44,TR285,#DIV/0!,#DIV/0!,0.0

In [34]:
for curso in lista_cursos:
    print(banco_cursos_malla[banco_cursos_malla.COD_CURSO == curso][['COD_CURSO', 'prom_promedios_notas', 'prom_promedios_Aprob', 'Ruta Critica']])

   COD_CURSO prom_promedios_notas prom_promedios_Aprob  Ruta Critica
73      AH57                15,96                  76%           0.0
  COD_CURSO prom_promedios_notas prom_promedios_Aprob  Ruta Critica
6     HU187                15,10                  80%           0.0
   COD_CURSO prom_promedios_notas prom_promedios_Aprob  Ruta Critica
68     HU469                16,44                  75%           0.0
   COD_CURSO prom_promedios_notas prom_promedios_Aprob  Ruta Critica
69     HU508                15,38                  78%           0.0
    COD_CURSO prom_promedios_notas prom_promedios_Aprob  Ruta Critica
203      HU51                15,76                  85%           0.0
    COD_CURSO prom_promedios_notas prom_promedios_Aprob  Ruta Critica
121     IN134                15,12                  95%           1.0
    COD_CURSO prom_promedios_notas prom_promedios_Aprob  Ruta Critica
157     IN149                15,04                  88%           0.0
    COD_CURSO prom_promedios_notas prom_promedios_Aprob  Ruta Critica
158     IN150                14,84                  75%           0.0
    COD_CURSO prom_promedios_notas prom_promedios_Aprob  Ruta Critica
163     IN155                16,02                  91%           0.0
    COD_CURSO prom_promedios_notas prom_promedios_Aprob  Ruta Critica
164     IN181                16,70                  91%           0.0
    COD_CURSO prom_promedios_notas prom_promedios_Aprob  Ruta Critica
159     IN183                15,79                  74%           0.0
    COD_CURSO prom_promedios_notas prom_promedios_Aprob  Ruta Critica
160     IN184                15,56                  81%           0.0
    COD_CURSO prom_promedios_notas prom_promedios_Aprob  Ruta Critica
161     IN185                13,21                  49%           0.0
    COD_CURSO prom_promedios_notas prom_promedios_Aprob  Ruta Critica
165     IN186                15,85                  75%           0.0
    COD_CURSO prom_promedios_notas prom_promedios_Aprob  Ruta Critica
162     IN187                15,64                  90%           0.0
    COD_CURSO prom_promedios_notas prom_promedios_Aprob  Ruta Critica
131     IN215                14,57                  89%           1.0
    COD_CURSO prom_promedios_notas prom_promedios_Aprob  Ruta Critica
156      IN93                15,54                  97%           1.0
    COD_CURSO prom_promedios_notas prom_promedios_Aprob  Ruta Critica
111     IN160                14,11                  88%           1.0
    COD_CURSO prom_promedios_notas prom_promedios_Aprob  Ruta Critica
130     IN176                13,63                  68%           2.0
    COD_CURSO prom_promedios_notas prom_promedios_Aprob  Ruta Critica
115     IN214                13,89                  69%           1.0
    COD_CURSO prom_promedios_notas prom_promedios_Aprob  Ruta Critica
114     IN398                14,30                  78%           1.0
    COD_CURSO prom_promedios_notas prom_promedios_Aprob  Ruta Critica
169      IN92                15,57                  94%           1.0
    COD_CURSO prom_promedios_notas prom_promedios_Aprob  Ruta Critica
177     MA264                15,07                  87%           1.0

## Considerando rendimiento del alumno

- Leer archivo que contiene perfil del alumno, recuperar valor de la columna "RENDIMIENTO" para ese alumno
- Segun ese valor retornar los cursos recomendandos
    - Si RENDIMIENTO igual BUENO(ranking 1) 
      retorno cursos segun ruta critica
    - Si RENDIMIENTO igual REGULAR(ranking 2)
      retorno cursos con mayor % de aprobacion y ruta critica
    - Si RENDIMIENTO igual MALO
      considerar promedios y aprobacion

In [ ]:
#escoger el curso que este vigente 
#recomendar el de mayor nota
#considerar el ciclo en que se lleva el curso
#el alumno tiene hasta 3 niveles de dispersion en reglamento
#considerar que el alumno cubra su carga maxima teniendo la prioridad los cursos obligatorios y luego los electivos(dependera cuantos les faltan)
#recomendar el curso que da mejor avance curricular como prioridad