# PROMEDIO DE NOTAS

In [26]:
import pandas as pd

In [27]:
df_alumno = pd.read_csv('../data/Perfil_alumno.csv',sep=';' , encoding='latin-1')
df_alumno.head(5)

,COD_ALUMNO,201901,201902,202001,202002,cuantos ciclos tiene el alumno,curricula,nivel alumno,201901.1,201902.1,...,m_habil_DES_TIPO_INGRESO,SEXO,Edad,201901.4,201902.4,202001.4,202002.4,0,1,RIESGO
0,201818909,8,9.0,11.0,11.0,4,44,5,18,23,...,SELECCIÓN PREFERENTE,1,19,0,0,0,0,4,0,0
1,201621635,6,7.0,9.0,12.0,4,44,3,18,18,...,EVALUACION INTEGRAL,1,23,0,1,0,0,3,1,0
2,201710287,11,4.0,6.0,7.0,4,44,3,18,18,...,SELECCIÓN PREFERENTE,0,22,1,1,1,0,1,3,0
3,201720918,7,8.0,11.0,11.0,4,44,4,18,23,...,SELECCIÓN PREFERENTE,0,21,1,0,0,0,3,1,0
4,201810705,7,6.0,6.0,6.0,4,44,2,23,23,...,EVALUACION INTEGRAL,0,22,0,0,0,0,4,0,0

In [28]:
df_alumno =df_alumno.drop('201901',axis=1)
df_alumno =df_alumno.drop('201902',axis=1)
df_alumno =df_alumno.drop('202001',axis=1)
df_alumno =df_alumno.drop('202002',axis=1)
df_alumno.columns

Index(['COD_ALUMNO', 'cuantos ciclos tiene el alumno', 'curricula ',
       'nivel alumno', '201901.1', '201902.1', '202001.1', '202002.1', '18',
       '23', '27', 'MAX_CREDITAJE', 'NUM_TURNO', 'POND_ACTUAL',
       'POND_ACUMULADO', 'NUM_OBS_CONS', 'NUM_OBS_ALTE', 'TIPO_MERITO',
       'm_habil_COD_CURSO', '201901.2', '201902.2', '202001.2', '202002.2',
       '201901.3', '201902.3', '202001.3', '202002.3', 'COD_ESTADO_MAT_CUR',
       'NUM_VEZ_CURSO', 'Extra_acad', 'NO', 'SI',
       'promadio de aprobacion de cursos de manera historica',
       'ADMINISTRACION', 'ADMINISTRACION Y MARKETING',
       'ADMINISTRACION Y RECURSOS HUMANOS', 'CIENCIAS',
       'ECONOMIA Y NEGOCIOS INTERNACIONALES', 'HUMANIDADES',
       'INGENIERIA INDUSTRIAL', 'INICIATIVA EMPRESARIAL',
       'TRADUCCION E INTERPRETACION PROFESIONAL', '#N/D',
       'm_habil_DES_TIPO_INGRESO', 'SEXO', 'Edad', '201901.4', '201902.4',
       '202001.4', '202002.4', '0', '1', 'RIESGO'],
      dtype='object')

In [29]:
df_alumno = df_alumno.set_index('COD_ALUMNO')
df_alumno.head(5)

,cuantos ciclos tiene el alumno,curricula,nivel alumno,201901.1,201902.1,202001.1,202002.1,18,23,27,...,m_habil_DES_TIPO_INGRESO,SEXO,Edad,201901.4,201902.4,202001.4,202002.4,0,1,RIESGO
COD_ALUMNO,,,,,,,,,,,,,,,,,,,,,
201818909,4,44,5,18,23,27,23,1,2,1,...,SELECCIÓN PREFERENTE,1,19,0,0,0,0,4,0,0
201621635,4,44,3,18,18,23,23,2,2,0,...,EVALUACION INTEGRAL,1,23,0,1,0,0,3,1,0
201710287,4,44,3,18,18,18,27,3,0,1,...,SELECCIÓN PREFERENTE,0,22,1,1,1,0,1,3,0
201720918,4,44,4,18,23,23,23,1,3,0,...,SELECCIÓN PREFERENTE,0,21,1,0,0,0,3,1,0
201810705,4,44,2,23,23,23,23,0,4,0,...,EVALUACION INTEGRAL,0,22,0,0,0,0,4,0,0

In [30]:
df_alumno.rename(columns = {'201901.1': '201901', '201902.1': '201902','202001.1':'202001','202002.1':'202002'}, inplace = True)

In [31]:
df_alumno.columns

Index(['cuantos ciclos tiene el alumno', 'curricula ', 'nivel alumno',
       '201901', '201902', '202001', '202002', '18', '23', '27',
       'MAX_CREDITAJE', 'NUM_TURNO', 'POND_ACTUAL', 'POND_ACUMULADO',
       'NUM_OBS_CONS', 'NUM_OBS_ALTE', 'TIPO_MERITO', 'm_habil_COD_CURSO',
       '201901.2', '201902.2', '202001.2', '202002.2', '201901.3', '201902.3',
       '202001.3', '202002.3', 'COD_ESTADO_MAT_CUR', 'NUM_VEZ_CURSO',
       'Extra_acad', 'NO', 'SI',
       'promadio de aprobacion de cursos de manera historica',
       'ADMINISTRACION', 'ADMINISTRACION Y MARKETING',
       'ADMINISTRACION Y RECURSOS HUMANOS', 'CIENCIAS',
       'ECONOMIA Y NEGOCIOS INTERNACIONALES', 'HUMANIDADES',
       'INGENIERIA INDUSTRIAL', 'INICIATIVA EMPRESARIAL',
       'TRADUCCION E INTERPRETACION PROFESIONAL', '#N/D',
       'm_habil_DES_TIPO_INGRESO', 'SEXO', 'Edad', '201901.4', '201902.4',
       '202001.4', '202002.4', '0', '1', 'RIESGO'],
      dtype='object')

In [32]:
df_alumno.describe(include="all")

,cuantos ciclos tiene el alumno,curricula,nivel alumno,201901,201902,202001,202002,18,23,27,...,m_habil_DES_TIPO_INGRESO,SEXO,Edad,201901.4,201902.4,202001.4,202002.4,0,1,RIESGO
count,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000,...,735,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,SELECCIÓN PREFERENTE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,361,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,3.429932,43.427211,3.500680,21.756463,19.695238,17.721088,17.863946,1.296599,0.975510,1.157823,...,NaN,0.537415,19.461224,0.195918,0.221769,0.151020,0.066667,3.364626,0.635374,0.050340
std,0.989138,1.225221,1.288045,3.734625,7.098541,9.663396,11.334185,1.191101,1.079635,1.380919,...,NaN,0.498938,6.441377,0.397176,0.415719,0.358313,0.249614,0.957034,0.957034,0.218795
min,1.000000,41.000000,2.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,44.000000,2.000000,18.000000,18.000000,18.000000,0.000000,0.000000,0.000000,0.000000,...,NaN,0.000000,19.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000,0.000000
50%,4.000000,44.000000,3.000000,23.000000,18.000000,23.000000,23.000000,1.000000,1.000000,1.000000,...,NaN,1.000000,21.000000,0.000000,0.000000,0.000000,0.000000,4.000000,0.000000,0.000000
75%,4.000000,44.000000,5.000000,27.000000,23.000000,23.000000,27.000000,2.000000,2.000000,2.000000,...,NaN,1.000000,22.000000,0.000000,0.000000,0.000000,0.000000,4.000000,1.000000,0.000000
max,4.000000,45.000000,7.000000,27.000000,27.000000,27.000000,27.000000,4.000000,4.000000,4.000000,...,NaN,1.000000,33.000000,1.000000,1.000000,1.000000,1.000000,4.000000,4.000000,1.000000

In [33]:
def cat_alumno(df):
    val_temp = 0
    cont_temp = 0
    if  df['201901'] == 27 :
        val_temp = val_temp + df['201901'] * 0.15
        cont_temp = cont_temp + 1
    elif df['201901'] == 23 :
        val_temp = val_temp + df['201901'] * 0.15
        cont_temp = cont_temp + 1
    elif df['201901'] == 18 :
        val_temp = val_temp + df['201901'] * 0.15
        cont_temp = cont_temp + 1

    if df['201902'] == 27 :
        val_temp = val_temp + df['201902'] * 0.15
        cont_temp = cont_temp + 1
    elif df['201902'] == 23 :
        val_temp = val_temp + df['201902'] * 0.15
        cont_temp = cont_temp + 1
    elif df['201902'] == 18 :
        val_temp = val_temp + df['201902'] * 0.15
        cont_temp = cont_temp + 1

    if df['202001'] == 27 :
        val_temp = val_temp + df['202001'] * 0.3
        cont_temp = cont_temp + 1
    elif df['202001'] == 23 :
        val_temp = val_temp + df['202001'] * 0.3
        cont_temp = cont_temp + 1
    elif df['202001'] == 18 :
        val_temp = val_temp + df['202001'] * 0.3
        cont_temp = cont_temp + 1
    
    if df['202002'] == 27 :
        val_temp = val_temp + df['202002'] * 0.4
        cont_temp = cont_temp + 1
    elif df['202002'] == 23 :
        val_temp = val_temp + df['202002'] * 0.4
        cont_temp = cont_temp + 1
    elif df['202002'] == 18 :
        val_temp = val_temp + df['202002'] * 0.4
        cont_temp = cont_temp + 1

    val_temp = val_temp / cont_temp
    return val_temp

In [34]:
# renombrar CategoriaAlumno por rendimiento
df_alumno['CategoriaAlumno'] = df_alumno.apply(cat_alumno, axis=1)

In [35]:
df_alumno[['201901', '201902', '202001', '202002','CategoriaAlumno']]

            201901  201902  202001  202002  CategoriaAlumno
COD_ALUMNO
201818909       18      23      27      23           5.8625
201621635       18      18      23      23           5.3750
201710287       18      18      18      27           5.4000
201720918       18      23      23      23           5.5625
201810705       23      23      23      23           5.7500
...            ...     ...     ...     ...              ...
20161D186       27      27      23      27           6.4500
201822729       23      23      23      27           6.1500
201818795       18      27      23      23           5.7125
20181D993       27      27      23      27           6.4500
201815082       18      27      27      27           6.4125

[735 rows x 5 columns]

In [36]:
dataframe= df_alumno['CategoriaAlumno'].describe()
dataframe

count    735.000000
mean       5.116610
std        1.343708
min        2.700000
25%        4.100000
50%        5.562500
75%        6.150000
max        7.050000
Name: CategoriaAlumno, dtype: float64

In [37]:
#val_25 = dataframe['25%']
#val_50 = dataframe['50%']
#val_75 = dataframe['75%']
val_max = dataframe['max']
val_prim = val_max / 3
val_seg = val_max * 2 / 3

In [38]:
def tipo_alumno(df, val_prim, val_seg, val_max):
    # 0 < 13.5 && 
    # CAMBIAR A SOLO 3 CATEGORIAS val_max/3 val_max*2/3 val_max
    if df['CategoriaAlumno'] <= val_prim:
        return 1
    elif val_prim < df['CategoriaAlumno'] and df['CategoriaAlumno'] <= val_seg :    
        return 2
    elif val_seg  < df['CategoriaAlumno'] and df['CategoriaAlumno'] <= val_max:
        return 3

In [39]:
df_alumno['ranking'] = df_alumno.apply(tipo_alumno, args=(val_prim, val_seg, val_max), axis=1)

In [40]:
df_alumno[['201901', '201902', '202001', '202002','CategoriaAlumno','ranking']]

            201901  201902  202001  202002  CategoriaAlumno  ranking
COD_ALUMNO
201818909       18      23      27      23           5.8625        3
201621635       18      18      23      23           5.3750        3
201710287       18      18      18      27           5.4000        3
201720918       18      23      23      23           5.5625        3
201810705       23      23      23      23           5.7500        3
...            ...     ...     ...     ...              ...      ...
20161D186       27      27      23      27           6.4500        3
201822729       23      23      23      27           6.1500        3
201818795       18      27      23      23           5.7125        3
20181D993       27      27      23      27           6.4500        3
201815082       18      27      27      27           6.4125        3

[735 rows x 6 columns]

In [41]:
df_base_alumno = df_alumno[['201901', '201902', '202001', '202002','CategoriaAlumno','ranking']]

In [42]:
df_base_alumno

            201901  201902  202001  202002  CategoriaAlumno  ranking
COD_ALUMNO
201818909       18      23      27      23           5.8625        3
201621635       18      18      23      23           5.3750        3
201710287       18      18      18      27           5.4000        3
201720918       18      23      23      23           5.5625        3
201810705       23      23      23      23           5.7500        3
...            ...     ...     ...     ...              ...      ...
20161D186       27      27      23      27           6.4500        3
201822729       23      23      23      27           6.1500        3
201818795       18      27      23      23           5.7125        3
20181D993       27      27      23      27           6.4500        3
201815082       18      27      27      27           6.4125        3

[735 rows x 6 columns]

In [43]:
cod_alumno_evaluar = '201811484'

In [44]:
df_base_alumno.loc[cod_alumno_evaluar]  # [['201901','201902','202001','202002','CategoriaAlumno','ranking']]

201901             27.00
201902             27.00
202001             27.00
202002             27.00
CategoriaAlumno     6.75
ranking             3.00
Name: 201811484, dtype: float64

In [45]:
df_base_alumno

            201901  201902  202001  202002  CategoriaAlumno  ranking
COD_ALUMNO
201818909       18      23      27      23           5.8625        3
201621635       18      18      23      23           5.3750        3
201710287       18      18      18      27           5.4000        3
201720918       18      23      23      23           5.5625        3
201810705       23      23      23      23           5.7500        3
...            ...     ...     ...     ...              ...      ...
20161D186       27      27      23      27           6.4500        3
201822729       23      23      23      27           6.1500        3
201818795       18      27      23      23           5.7125        3
20181D993       27      27      23      27           6.4500        3
201815082       18      27      27      27           6.4125        3

[735 rows x 6 columns]

## Banco de cursos

In [46]:
banco_cursos = pd.read_csv('../data/cursos_curricula_requisitos.csv', index_col='Unnamed: 0', sep=';')

In [47]:
banco_cursos.columns

Index(['COD_LINEA_NEGOCIO', 'COD_PRODUCTO', 'DESC_PRODUCTO', 'COD_CURRICULO',
       'DESC_CURRICULO', 'COD_CURSO', 'DESC_CURSO', 'DESC_ABRE_CURSO', 'clave',
       'COD_DIRECCION', 'NOM_DIRECCION', 'COD_CURSO_ELEC', 'CICLO',
       'CANT_CREDITOS', 'CANT_CREDEQUIV', 'FECHA_CREACION', 'USUARIO_CREACION',
       'FECHA_MODIFICACION', 'USUARIO_MODIFICACION', 'TOTAL CRED', 'REQUISITO',
       'REQUISITO PYTHON', 'Ruta Critica', 'Unnamed: 24',
       'prom_promedios_notas', 'prom_promedios_Aprob'],
      dtype='object')

In [48]:
banco_cursos = banco_cursos[['COD_CURRICULO', 'COD_CURSO', 'prom_promedios_notas', 'prom_promedios_Aprob', 'Ruta Critica', 'TOTAL CRED']]

In [49]:
banco_cursos
# PENDIENTE
# eliminar filas que contengan el valor #DIV/0! en alguna de sus celfas

,COD_CURRICULO,COD_CURSO,prom_promedios_notas,prom_promedios_Aprob,Ruta Critica,TOTAL CRED
0,44,AM130,"14,00",100%,1.0,3
1,45,AM130,"15,26",80%,1.0,3
2,45,HU543,"15,13",74%,2.0,4
3,45,HU548,"14,15",65%,0.0,2
4,44,HU543,"15,33",77%,2.0,4
...,...,...,...,...,...,...
548,41,HU522,"15,70",58%,0.0,3
549,41,TR240,"14,00",40%,0.0,3
550,41,HU469,"16,44",75%,0.0,3
551,41,DE440,#DIV/0!,#DIV/0!,0.0,2
552,42,IN97,"14,59",86%,0.0,4

## Alumno y lista de cursos para matricula

In [50]:
import pandas as pd
xlsx_dataset = pd.ExcelFile('../../../Data_Ingenieria/dataset_2.xlsx')

FileNotFoundError: [Errno 2] No such file or directory: '../../../Data_Ingenieria/dataset_2.xlsx'

In [ ]:
df_dataset_1 = pd.read_excel(xlsx_dataset, 'dataset_1')

In [ ]:
df_dataset_1.columns

In [ ]:
for col in df_dataset_1.columns:
    print(col)

In [ ]:
df_dataset_1 = df_dataset_1.set_index('COD_ALUMNO')

In [ ]:
#cod_alumno_evaluar = '201322051'

In [ ]:
df_dataset_1.loc[cod_alumno_evaluar].head()

In [ ]:
varCOD_CURR = df_dataset_1.loc[cod_alumno_evaluar]['COD_CURRIC_ALUM'].max()
varCOD_CURR

In [ ]:
varCOD_PERIODO =df_dataset_1.loc[cod_alumno_evaluar]['COD_PERIODO'].unique().max()
varCOD_PERIODO

In [ ]:
#varMAX_CRED =df_dataset_1.loc[cod_alumno_evaluar]['MAX_CREDITAJE'].unique()
#varMAX_CRED

In [ ]:
lista_cursos = df_dataset_1.loc[cod_alumno_evaluar].query('COD_PERIODO == @varCOD_PERIODO & COD_CURRIC_ALUM == @varCOD_CURR')['m_habil_COD_CURSO'].to_list()
lista_cursos

In [ ]:
df_dataset_1.loc[cod_alumno_evaluar].query('COD_PERIODO == @varCOD_PERIODO & COD_CURRIC_ALUM == @varCOD_CURR')[['COD_PERIODO','COD_CURRIC_ALUM','m_habil_COD_CURSO','MAX_CREDITAJE','HABILITADO','CRED_CURSO']]

In [ ]:
df_eval_alum_curso = df_dataset_1.loc[cod_alumno_evaluar].query('COD_PERIODO == @varCOD_PERIODO & COD_CURRIC_ALUM == @varCOD_CURR')[['COD_PERIODO','COD_CURRIC_ALUM','m_habil_COD_CURSO','MAX_CREDITAJE','HABILITADO','CRED_CURSO']]

In [ ]:
df_base_alumno.loc[cod_alumno_evaluar]['ranking']

In [ ]:
df_eval_alum_curso['ranking'] = df_base_alumno.loc[cod_alumno_evaluar]['ranking']
df_eval_alum_curso

In [ ]:
lista_cursos

In [ ]:
banco_cursos

In [ ]:
df_new_banco_cursos = banco_cursos.set_index('COD_CURSO')
df_new_banco_cursos

In [ ]:
#df_eval_alum_curso[df_eval_alum_curso['m_habil_COD_CURSO'] == 'AH57']['prom_promedios_notas'] = 16.00 # 15,57

In [ ]:
#df_eval_alum_curso.at[df_eval_alum_curso['m_habil_COD_CURSO'] == 'AH57', 'prom_promedios_notas'] = 17

In [ ]:
#df_eval_alum_curso[df_eval_alum_curso['m_habil_COD_CURSO'] == 'AH57']['prom_promedios_notas']

In [ ]:
for id_curso in lista_cursos:
    #print(id_curso)
    #print(df_new_banco_cursos[ df_new_banco_cursos['COD_CURRICULO' ] == varCOD_CURR ].loc[id_curso]['Ruta Critica'])
    df_eval_alum_curso.at[df_eval_alum_curso['m_habil_COD_CURSO'] == id_curso, 'Ruta Critica'] = df_new_banco_cursos[ df_new_banco_cursos['COD_CURRICULO' ] == varCOD_CURR ].loc[id_curso]['Ruta Critica']
    df_eval_alum_curso.at[df_eval_alum_curso['m_habil_COD_CURSO'] == id_curso, 'prom_promedios_Aprob'] = df_new_banco_cursos[ df_new_banco_cursos['COD_CURRICULO' ] == varCOD_CURR ].loc[id_curso]['prom_promedios_Aprob']
    df_eval_alum_curso.at[df_eval_alum_curso['m_habil_COD_CURSO'] == id_curso, 'prom_promedios_notas'] = df_new_banco_cursos[ df_new_banco_cursos['COD_CURRICULO' ] == varCOD_CURR ].loc[id_curso]['prom_promedios_notas']

In [ ]:
df_eval_alum_curso

In [ ]:
df_eval_alum_curso['prom_promedios_notas'] = df_eval_alum_curso['prom_promedios_notas'].str.replace(',', '.').astype(float)

In [ ]:
df_eval_alum_curso

In [ ]:
df_eval_alum_curso.to_csv('df_eval_alum_curso.csv')

In [51]:
import pandas as pd

In [52]:
df_tmp = pd.read_csv('df_eval_alum_curso.csv')
df_tmp

,COD_ALUMNO,COD_PERIODO,COD_CURRIC_ALUM,m_habil_COD_CURSO,MAX_CREDITAJE,HABILITADO,CRED_CURSO,ranking,Ruta Critica,prom_promedios_Aprob,prom_promedios_notas
0,201811484,202002,44,AH57,27,NO,NaN,3.0,0.0,76%,15.96
1,201811484,202002,44,EF40,27,SI,NaN,3.0,0.0,48%,12.50
2,201811484,202002,44,HU187,27,SI,NaN,3.0,0.0,80%,15.10
3,201811484,202002,44,HU469,27,SI,NaN,3.0,0.0,75%,16.44
4,201811484,202002,44,HU508,27,NO,NaN,3.0,0.0,78%,15.38
5,201811484,202002,44,HU51,27,SI,NaN,3.0,0.0,85%,15.76
6,201811484,202002,44,IN215,27,SI,NaN,3.0,1.0,89%,14.57
7,201811484,202002,44,TR281,27,SI,NaN,3.0,1.0,89%,15.11
8,201811484,202002,44,IN147,27,SI,4.0,3.0,2.0,90%,15.02
9,201811484,202002,44,IN176,27,SI,4.0,3.0,2.0,68%,13.63
10,201811484,202002,44,IN214,27,SI,5.0,3.0,1.0,69%,13.89
11,201811484,202002,44,IN395,27,SI,3.0,3.0,1.0,61%,13.03
12,201811484,202002,44,IN399,27,SI,4.0,3.0,1.0,86%,15.32
13,201811484,202002,44,IN92,27,SI,3.0,3.0,1.0,94%,15.57

In [53]:
df_tmp.set_index('COD_ALUMNO',inplace=True)
df_tmp

,COD_PERIODO,COD_CURRIC_ALUM,m_habil_COD_CURSO,MAX_CREDITAJE,HABILITADO,CRED_CURSO,ranking,Ruta Critica,prom_promedios_Aprob,prom_promedios_notas
COD_ALUMNO,,,,,,,,,,
201811484,202002,44,AH57,27,NO,NaN,3.0,0.0,76%,15.96
201811484,202002,44,EF40,27,SI,NaN,3.0,0.0,48%,12.50
201811484,202002,44,HU187,27,SI,NaN,3.0,0.0,80%,15.10
201811484,202002,44,HU469,27,SI,NaN,3.0,0.0,75%,16.44
201811484,202002,44,HU508,27,NO,NaN,3.0,0.0,78%,15.38
201811484,202002,44,HU51,27,SI,NaN,3.0,0.0,85%,15.76
201811484,202002,44,IN215,27,SI,NaN,3.0,1.0,89%,14.57
201811484,202002,44,TR281,27,SI,NaN,3.0,1.0,89%,15.11
201811484,202002,44,IN147,27,SI,4.0,3.0,2.0,90%,15.02
201811484,202002,44,IN176,27,SI,4.0,3.0,2.0,68%,13.63
201811484,202002,44,IN214,27,SI,5.0,3.0,1.0,69%,13.89
201811484,202002,44,IN395,27,SI,3.0,3.0,1.0,61%,13.03
201811484,202002,44,IN399,27,SI,4.0,3.0,1.0,86%,15.32
201811484,202002,44,IN92,27,SI,3.0,3.0,1.0,94%,15.57

In [54]:
df_sistm_recome = df_tmp.sort_values(['HABILITADO', 'Ruta Critica','prom_promedios_Aprob','prom_promedios_notas'], ascending=[False, False, False, False])
df_sistm_recome

,COD_PERIODO,COD_CURRIC_ALUM,m_habil_COD_CURSO,MAX_CREDITAJE,HABILITADO,CRED_CURSO,ranking,Ruta Critica,prom_promedios_Aprob,prom_promedios_notas
COD_ALUMNO,,,,,,,,,,
201811484,202002,44,IN147,27,SI,4.0,3.0,2.0,90%,15.02
201811484,202002,44,IN176,27,SI,4.0,3.0,2.0,68%,13.63
201811484,202002,44,IN92,27,SI,3.0,3.0,1.0,94%,15.57
201811484,202002,44,TR281,27,SI,NaN,3.0,1.0,89%,15.11
201811484,202002,44,IN215,27,SI,NaN,3.0,1.0,89%,14.57
201811484,202002,44,IN399,27,SI,4.0,3.0,1.0,86%,15.32
201811484,202002,44,IN214,27,SI,5.0,3.0,1.0,69%,13.89
201811484,202002,44,IN395,27,SI,3.0,3.0,1.0,61%,13.03
201811484,202002,44,HU51,27,SI,NaN,3.0,0.0,85%,15.76
201811484,202002,44,HU187,27,SI,NaN,3.0,0.0,80%,15.10
201811484,202002,44,HU469,27,SI,NaN,3.0,0.0,75%,16.44
201811484,202002,44,EF40,27,SI,NaN,3.0,0.0,48%,12.50
201811484,202002,44,HU508,27,NO,NaN,3.0,0.0,78%,15.38
201811484,202002,44,AH57,27,NO,NaN,3.0,0.0,76%,15.96

In [60]:
df_sistm_recome['CRED_CURSO'] = df_sistm_recome['CRED_CURSO'].fillna(4)

In [61]:
df_sistm_recome

,COD_PERIODO,COD_CURRIC_ALUM,m_habil_COD_CURSO,MAX_CREDITAJE,HABILITADO,CRED_CURSO,ranking,Ruta Critica,prom_promedios_Aprob,prom_promedios_notas
COD_ALUMNO,,,,,,,,,,
201811484,202002,44,IN147,27,SI,4.0,3.0,2.0,90%,15.02
201811484,202002,44,IN176,27,SI,4.0,3.0,2.0,68%,13.63
201811484,202002,44,IN92,27,SI,3.0,3.0,1.0,94%,15.57
201811484,202002,44,TR281,27,SI,4.0,3.0,1.0,89%,15.11
201811484,202002,44,IN215,27,SI,4.0,3.0,1.0,89%,14.57
201811484,202002,44,IN399,27,SI,4.0,3.0,1.0,86%,15.32
201811484,202002,44,IN214,27,SI,5.0,3.0,1.0,69%,13.89
201811484,202002,44,IN395,27,SI,3.0,3.0,1.0,61%,13.03
201811484,202002,44,HU51,27,SI,4.0,3.0,0.0,85%,15.76
201811484,202002,44,HU187,27,SI,4.0,3.0,0.0,80%,15.10
201811484,202002,44,HU469,27,SI,4.0,3.0,0.0,75%,16.44
201811484,202002,44,EF40,27,SI,4.0,3.0,0.0,48%,12.50
201811484,202002,44,HU508,27,NO,4.0,3.0,0.0,78%,15.38
201811484,202002,44,AH57,27,NO,4.0,3.0,0.0,76%,15.96

In [64]:
df_sistm_recome[['m_habil_COD_CURSO', 'CRED_CURSO', 'prom_promedios_notas']]

           m_habil_COD_CURSO  CRED_CURSO  prom_promedios_notas
COD_ALUMNO
201811484              IN147         4.0                 15.02
201811484              IN176         4.0                 13.63
201811484               IN92         3.0                 15.57
201811484              TR281         4.0                 15.11
201811484              IN215         4.0                 14.57
201811484              IN399         4.0                 15.32
201811484              IN214         5.0                 13.89
201811484              IN395         3.0                 13.03
201811484               HU51         4.0                 15.76
201811484              HU187         4.0                 15.10
201811484              HU469         4.0                 16.44
201811484               EF40         4.0                 12.50
201811484              HU508         4.0                 15.38
201811484               AH57         4.0                 15.96

In [ ]:
# Capacidad: maximo creditos del alumno;
# Cantidad de cursos habilitados para matricula;
# Valor(Notas): {20, 16, 14, 17, 19};
# Peso(creditos): {5, 4, 2, 1, 4};

In [74]:
def fill_tables(values, weights, m, n, W ):
    # Initialize the tables by filling the 0 row (no items)
    for j in range(0, W+1): 
        m.append([])
        for i in range(0, n+1):
            m[j].append(0)
    for i in range(0, n+1):
        for j in range(0, W+1):
            if i == 0 or j == 0:
                m[j][i] = 0
            elif weights[i - 1] <= j:
                m[j][i] = max(m[j][i - 1], m[j - weights[i - 1]][i - 1] + values[i - 1])
            else:
                m[j][i] = m[j][i - 1]

def get_solution(k, weights, n, W):
    items = []
    for i in range(0, n):
        k.append(0)
    cap = W + 1
    for i in range(n, 0, -1):
        # instead of 0/1 keep array we use the condition if upper cell is smaller then we pick this item
        if m[cap - 1][i] > m[cap - 1][i - 1]:
            k[i - 1] = 1
            cap = cap - weights[i - 1]

    value = m[W][n]
    for i in range(0, n):
        if k[i] == 1:
            items.append(i)
    return value, items

In [95]:
df_sistm_recome

,COD_ALUMNO,COD_PERIODO,COD_CURRIC_ALUM,m_habil_COD_CURSO,MAX_CREDITAJE,HABILITADO,CRED_CURSO,ranking,Ruta Critica,prom_promedios_Aprob,prom_promedios_notas
0,201811484,202002,44,IN147,27,SI,4.0,3.0,2.0,90%,15.02
1,201811484,202002,44,IN176,27,SI,4.0,3.0,2.0,68%,13.63
2,201811484,202002,44,IN92,27,SI,3.0,3.0,1.0,94%,15.57
3,201811484,202002,44,TR281,27,SI,4.0,3.0,1.0,89%,15.11
4,201811484,202002,44,IN215,27,SI,4.0,3.0,1.0,89%,14.57
5,201811484,202002,44,IN399,27,SI,4.0,3.0,1.0,86%,15.32
6,201811484,202002,44,IN214,27,SI,5.0,3.0,1.0,69%,13.89
7,201811484,202002,44,IN395,27,SI,3.0,3.0,1.0,61%,13.03
8,201811484,202002,44,HU51,27,SI,4.0,3.0,0.0,85%,15.76
9,201811484,202002,44,HU187,27,SI,4.0,3.0,0.0,80%,15.10
10,201811484,202002,44,HU469,27,SI,4.0,3.0,0.0,75%,16.44
11,201811484,202002,44,EF40,27,SI,4.0,3.0,0.0,48%,12.50
12,201811484,202002,44,HU508,27,NO,4.0,3.0,0.0,78%,15.38
13,201811484,202002,44,AH57,27,NO,4.0,3.0,0.0,76%,15.96

## Definicion del problema

Conjunto de cursos:

$C = {c_1, c_2, c_3, ... c_n}$

Para cada:

$c_i \in C\ tal\ que\ 1 <= i <= n$

$Valor(c_i) = PorcAprobacion(c_i)* (RutaCritica(c_i)+1)$

$Peso(c_i) = Credito(c_i)$

$W = Limite\ de\ creditos\ del\ alumno$

W

In [58]:
max_creditos_alumno = 27

Cursos

In [ ]:
df_sistm_recome[['m_habil_COD_CURSO', 'CRED_CURSO', 'prom_promedios_notas']]

PorcAprobacion

In [117]:
values_aprob = [int(elem[:2])/100 for elem in df_sistm_recome['prom_promedios_Aprob'].values]
values_aprob

[0.9,
 0.68,
 0.94,
 0.89,
 0.89,
 0.86,
 0.69,
 0.61,
 0.85,
 0.8,
 0.75,
 0.48,
 0.78,
 0.76]

Ruta Critica

In [116]:
values_ruta_critica = [elem+1 for elem in df_sistm_recome['Ruta Critica'].values]
values_ruta_critica

[3.0, 3.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]

Valor por cada curso

In [118]:
values = []
for ap, rc in zip(values_aprob, values_ruta_critica):
    values.append(ap * rc)

In [128]:
values

[2.7,
 2.04,
 1.88,
 1.78,
 1.78,
 1.72,
 1.38,
 1.22,
 0.85,
 0.8,
 0.75,
 0.48,
 0.78,
 0.76]

Programacion Dinamica para resolver el problema de optimizacion

In [119]:
# values =  # The values of our items
weights = list(map(int,list(df_sistm_recome['CRED_CURSO'].values))) # The weights of our items
print(weights)
n = len(values) # We always want to take all, if we can!
W = max_creditos_alumno # The maximum weigth of the knapsack
print(n)
m = []
k = []
fill_tables(values, weights, m, n, W)
solution = get_solution(k, weights, n, W)

print(solution)

[4, 4, 3, 4, 4, 4, 5, 3, 4, 4, 4, 4, 4, 4]
14
(13.120000000000001, [0, 1, 2, 3, 4, 5, 7])

In [120]:
total_nota, indices_cursos = solution

In [121]:
df_sistm_recome = df_sistm_recome.reset_index()

In [83]:
df_sistm_recome

,COD_ALUMNO,COD_PERIODO,COD_CURRIC_ALUM,m_habil_COD_CURSO,MAX_CREDITAJE,HABILITADO,CRED_CURSO,ranking,Ruta Critica,prom_promedios_Aprob,prom_promedios_notas
0,201811484,202002,44,IN147,27,SI,4.0,3.0,2.0,90%,15.02
1,201811484,202002,44,IN176,27,SI,4.0,3.0,2.0,68%,13.63
2,201811484,202002,44,IN92,27,SI,3.0,3.0,1.0,94%,15.57
3,201811484,202002,44,TR281,27,SI,4.0,3.0,1.0,89%,15.11
4,201811484,202002,44,IN215,27,SI,4.0,3.0,1.0,89%,14.57
5,201811484,202002,44,IN399,27,SI,4.0,3.0,1.0,86%,15.32
6,201811484,202002,44,IN214,27,SI,5.0,3.0,1.0,69%,13.89
7,201811484,202002,44,IN395,27,SI,3.0,3.0,1.0,61%,13.03
8,201811484,202002,44,HU51,27,SI,4.0,3.0,0.0,85%,15.76
9,201811484,202002,44,HU187,27,SI,4.0,3.0,0.0,80%,15.10
10,201811484,202002,44,HU469,27,SI,4.0,3.0,0.0,75%,16.44
11,201811484,202002,44,EF40,27,SI,4.0,3.0,0.0,48%,12.50
12,201811484,202002,44,HU508,27,NO,4.0,3.0,0.0,78%,15.38
13,201811484,202002,44,AH57,27,NO,4.0,3.0,0.0,76%,15.96

In [124]:
combo_matricula = df_sistm_recome.loc[indices_cursos, ['m_habil_COD_CURSO', 'CRED_CURSO', 'prom_promedios_Aprob', 'Ruta Critica', 'prom_promedios_notas']]

In [125]:
combo_matricula

,m_habil_COD_CURSO,CRED_CURSO,prom_promedios_Aprob,Ruta Critica,prom_promedios_notas
0,IN147,4.0,90%,2.0,15.02
1,IN176,4.0,68%,2.0,13.63
2,IN92,3.0,94%,1.0,15.57
3,TR281,4.0,89%,1.0,15.11
4,IN215,4.0,89%,1.0,14.57
5,IN399,4.0,86%,1.0,15.32
7,IN395,3.0,61%,1.0,13.03

In [126]:
combo_matricula['CRED_CURSO'].sum()

26.0

# Sistema de Recomdanción al Alumno

In [12]:
df_sistm_recome[df_sistm_recome['HABILITADO'] == "SI"]

,COD_PERIODO,COD_CURRIC_ALUM,m_habil_COD_CURSO,MAX_CREDITAJE,HABILITADO,CRED_CURSO,ranking,Ruta Critica,prom_promedios_Aprob,prom_promedios_notas
COD_ALUMNO,,,,,,,,,,
201811484,202002,44,IN147,27,SI,4.0,3.0,2.0,90%,15.02
201811484,202002,44,IN176,27,SI,4.0,3.0,2.0,68%,13.63
201811484,202002,44,IN92,27,SI,3.0,3.0,1.0,94%,15.57
201811484,202002,44,TR281,27,SI,NaN,3.0,1.0,89%,15.11
201811484,202002,44,IN215,27,SI,NaN,3.0,1.0,89%,14.57
201811484,202002,44,IN399,27,SI,4.0,3.0,1.0,86%,15.32
201811484,202002,44,IN214,27,SI,5.0,3.0,1.0,69%,13.89
201811484,202002,44,IN395,27,SI,3.0,3.0,1.0,61%,13.03
201811484,202002,44,HU51,27,SI,NaN,3.0,0.0,85%,15.76
201811484,202002,44,HU187,27,SI,NaN,3.0,0.0,80%,15.10
201811484,202002,44,HU469,27,SI,NaN,3.0,0.0,75%,16.44
201811484,202002,44,EF40,27,SI,NaN,3.0,0.0,48%,12.50

In [ ]:
# COD_PERIODO	COD_CURRIC_ALUM	m_habil_COD_CURSO	MAX_CREDITAJE	HABILITADO	ranking	Ruta Critica    prom_promedios_Aprob	prom_promedios_notas

## Sistema de Recomendacion

- Filtra por malla
- Busca en el banco de datos la lista de cursos para matricula del alumno

In [246]:
df_newmalla = pd.DataFrame()

In [247]:
for curso in lista_cursos:
    #df_objtmp=banco_cursos_malla[banco_cursos_malla.COD_CURSO == curso][['COD_CURSO', 'prom_promedios_notas', 'prom_promedios_Aprob', 'Ruta Critica']]
    df_newmalla = df_newmalla.append(banco_cursos_malla.loc[ curso ,:] )

df_newmalla

,COD_CURRICULO,Ruta Critica,TOTAL CRED,prom_promedios_Aprob,prom_promedios_notas
AD185,44.0,0.0,3.0,89%,"17,98"
AD687,44.0,0.0,3.0,86%,"16,74"
AH57,44.0,0.0,3.0,76%,"15,96"
AH66,44.0,0.0,3.0,83%,"16,63"
AH67,44.0,0.0,3.0,82%,"16,15"
HU469,44.0,0.0,3.0,75%,"16,44"
HU508,44.0,0.0,3.0,78%,"15,38"
HU522,44.0,0.0,3.0,58%,"15,70"
IN149,44.0,0.0,3.0,88%,"15,04"
IN150,44.0,0.0,3.0,75%,"14,84"
IN155,44.0,0.0,3.0,91%,"16,02"
IN181,44.0,0.0,3.0,91%,"16,70"
IN183,44.0,0.0,3.0,74%,"15,79"
IN184,44.0,0.0,3.0,81%,"15,56"
IN185,44.0,0.0,3.0,49%,"13,21"
IN186,44.0,0.0,3.0,75%,"15,85"
IN187,44.0,0.0,3.0,90%,"15,64"
IN395,44.0,1.0,3.0,61%,"13,03"
HU187,44.0,0.0,3.0,80%,"15,10"
HU51,44.0,0.0,3.0,85%,"15,76"
IN134,44.0,1.0,4.0,95%,"15,12"
IN137,44.0,0.0,3.0,94%,"15,67"
IN175,44.0,1.0,4.0,86%,"14,59"
IN178,44.0,1.0,3.0,81%,"14,53"
IN215,44.0,1.0,4.0,89%,"14,57"
IN93,44.0,1.0,3.0,97%,"15,54"

In [ ]:
df_newmalla

Leer archivo que contiene perfil del alumno, recuperar valor de la columna "RENDIMIENTO" para ese alumno

Segun ese valor retornar los cursos recomendandos

Si RENDIMIENTO igual BUENO retorno cursos segun ruta critica

Si RENDIMIENTO igual REGULAR ...

Si RENDIMIENTO igual MALO considerar promedios y aprobacion

## Calcular el promedio del promedio de las notas x Curso Curricula

In [221]:
xlsx_dataset_cursoCurr = pd.ExcelFile('../../../Data_Ingenieria/dataset_1.xlsx')

In [222]:
df_dataset_cursoCurr = pd.read_excel(xlsx_dataset_cursoCurr, 'dataset_1')

In [189]:
#del  xlsx_dataset_cursoCurr

In [194]:
df_dataset_cursoCurr.rename({'m_curso_COD_CURSO':'COD_CURSO'}, inplace = True)

In [196]:
df_dataset_cursoCurr = df_dataset_cursoCurr.set_index('m_curso_COD_CURSO')
# eliminar las filas que estan en vacio

In [203]:
df_dataset_cursoCurr.columns

Index(['COD_LINEA_NEGOCIO', 'COD_MODAL_EST', 'COD_PERIODO', 'COD_ALUMNO',
       'APELLIDO_PATERN', 'APELLIDO_MATERN', 'NOMBRES', 'COD_FACULTAD',
       'DESCRIPCION_FACULTAD', 'COD_PRODUC_ALUM',
       ...
       'FECHA_RATIFICA', 'SEDE_ALUMNO', 'm_alumno_COD_TIPO_INGRESO',
       'm_alumno_DES_TIPO_INGRESO', 'ORDEN_MERITO_PROD_ACUM',
       'ORDEN_MERITO_PROD', 'TIPO_MERITO_PROD', 'TIPO_MERITO_PROD_ACUM',
       'COD_USUARIO', 'COD_PERSONA'],
      dtype='object', length=123)

In [219]:
df_dataset_cursoCurr['COD_PERIODO'].unique

<bound method Series.unique of m_curso_COD_CURSO
NaN      201901
NaN      201901
NaN      201901
NaN      201901
NaN      201901
          ...
HU193    202002
HU543    202002
IN142    202002
MA420    202002
MA465    202002
Name: COD_PERIODO, Length: 268119, dtype: int64>

In [215]:
df_dataset_cursoCurr[['COD_PERIODO','COD_CURRIC_ALUM','m_habil_COD_CURSO','NOTA_CURSO']]

                   COD_PERIODO  COD_CURRIC_ALUM m_habil_COD_CURSO  NOTA_CURSO
m_curso_COD_CURSO
NaN                     201901               41             AD185         NaN
NaN                     201901               41             AD687         NaN
NaN                     201901               41             AD688         NaN
NaN                     201901               41             AD690         NaN
NaN                     201901               41              AH53         NaN
...                        ...              ...               ...         ...
HU193                   202002               45             HU193        77.0
HU543                   202002               45             HU543        77.0
IN142                   202002               45             IN142        77.0
MA420                   202002               45             MA420        77.0
MA465                   202002               45             MA465        77.0

[268119 rows x 4 columns]

In [ ]:
for col in df_dataset_cursoCurr.columns: 
    print(col)

In [ ]:
df_dataset_cursoCurr

In [154]:
 
#entries = [[]]
for curso in lista_cursos:
    #df.loc[df['A'] == item]
    #df_objtmp=banco_cursos_malla[banco_cursos_malla.COD_CURSO == curso][['COD_CURSO', 'prom_promedios_notas', 'prom_promedios_Aprob', 'Ruta Critica']]
    entry = banco_cursos_malla.loc[ curso ,:].to_list()
    entries.append(entry)
    #print(entry)

print(pd.DataFrame(entries))

        0      1     2    3    4
0     NaN   None  None  NaN  NaN
1    44.0  17,98   89%  0.0  3.0
2    44.0  16,74   86%  0.0  3.0
3    44.0  15,96   76%  0.0  3.0
4    44.0  16,63   83%  0.0  3.0
..    ...    ...   ...  ...  ...
126  44.0  15,67   94%  0.0  3.0
127  44.0  14,59   86%  1.0  4.0
128  44.0  14,53   81%  1.0  3.0
129  44.0  14,57   89%  1.0  4.0
130  44.0  15,54   97%  1.0  3.0

[131 rows x 5 columns]

In [91]:
dfObj

Empty DataFrame
Columns: [COD_CURSO, prom_promedios_notas, prom_promedios_Aprob, Ruta Critica]
Index: []

## Considerando rendimiento del alumno

- Leer archivo que contiene perfil del alumno, recuperar valor de la columna "RENDIMIENTO" para ese alumno
- Segun ese valor retornar los cursos recomendandos
    - Si RENDIMIENTO igual BUENO 
      retorno cursos segun ruta critica
    - Si RENDIMIENTO igual REGULAR
      ...
    - Si RENDIMIENTO igual MALO
      considerar promedios y aprobacion

In [ ]:
#escoger el curso que este vigente 
#recomendar el de mayor nota
#considerar el ciclo en que se lleva el curso
#el alumno tiene hasta 3 niveles de dispersion en reglamento
#considerar que el alumno cubra su carga maxima teniendo la prioridad los cursos obligatorios y luego los electivos(dependera cuantos les faltan)
#recomendar el curso que da mejor avance curricular como prioridad