# PROMEDIO DE NOTAS

In [224]:
import pandas as pd

In [225]:
df_alumno = pd.read_csv('../data/Perfil_alumno.csv',sep=';' , encoding='latin-1')
df_alumno.head(5)

,COD_ALUMNO,201901,201902,202001,202002,cuantos ciclos tiene el alumno,curricula,nivel alumno,201901.1,201902.1,...,m_habil_DES_TIPO_INGRESO,SEXO,Edad,201901.4,201902.4,202001.4,202002.4,0,1,RIESGO
0,201818909,8,9.0,11.0,11.0,4,44,5,18,23,...,SELECCIÓN PREFERENTE,1,19,0,0,0,0,4,0,0
1,201621635,6,7.0,9.0,12.0,4,44,3,18,18,...,EVALUACION INTEGRAL,1,23,0,1,0,0,3,1,0
2,201710287,11,4.0,6.0,7.0,4,44,3,18,18,...,SELECCIÓN PREFERENTE,0,22,1,1,1,0,1,3,0
3,201720918,7,8.0,11.0,11.0,4,44,4,18,23,...,SELECCIÓN PREFERENTE,0,21,1,0,0,0,3,1,0
4,201810705,7,6.0,6.0,6.0,4,44,2,23,23,...,EVALUACION INTEGRAL,0,22,0,0,0,0,4,0,0

In [226]:
df_alumno =df_alumno.drop('201901',axis=1)
df_alumno =df_alumno.drop('201902',axis=1)
df_alumno =df_alumno.drop('202001',axis=1)
df_alumno =df_alumno.drop('202002',axis=1)
df_alumno.columns

Index(['COD_ALUMNO', 'cuantos ciclos tiene el alumno', 'curricula ',
       'nivel alumno', '201901.1', '201902.1', '202001.1', '202002.1', '18',
       '23', '27', 'MAX_CREDITAJE', 'NUM_TURNO', 'POND_ACTUAL',
       'POND_ACUMULADO', 'NUM_OBS_CONS', 'NUM_OBS_ALTE', 'TIPO_MERITO',
       'm_habil_COD_CURSO', '201901.2', '201902.2', '202001.2', '202002.2',
       '201901.3', '201902.3', '202001.3', '202002.3', 'COD_ESTADO_MAT_CUR',
       'NUM_VEZ_CURSO', 'Extra_acad', 'NO', 'SI',
       'promadio de aprobacion de cursos de manera historica',
       'ADMINISTRACION', 'ADMINISTRACION Y MARKETING',
       'ADMINISTRACION Y RECURSOS HUMANOS', 'CIENCIAS',
       'ECONOMIA Y NEGOCIOS INTERNACIONALES', 'HUMANIDADES',
       'INGENIERIA INDUSTRIAL', 'INICIATIVA EMPRESARIAL',
       'TRADUCCION E INTERPRETACION PROFESIONAL', '#N/D',
       'm_habil_DES_TIPO_INGRESO', 'SEXO', 'Edad', '201901.4', '201902.4',
       '202001.4', '202002.4', '0', '1', 'RIESGO'],
      dtype='object')

In [227]:
df_alumno = df_alumno.set_index('COD_ALUMNO')
df_alumno.head(5)

,cuantos ciclos tiene el alumno,curricula,nivel alumno,201901.1,201902.1,202001.1,202002.1,18,23,27,...,m_habil_DES_TIPO_INGRESO,SEXO,Edad,201901.4,201902.4,202001.4,202002.4,0,1,RIESGO
COD_ALUMNO,,,,,,,,,,,,,,,,,,,,,
201818909,4,44,5,18,23,27,23,1,2,1,...,SELECCIÓN PREFERENTE,1,19,0,0,0,0,4,0,0
201621635,4,44,3,18,18,23,23,2,2,0,...,EVALUACION INTEGRAL,1,23,0,1,0,0,3,1,0
201710287,4,44,3,18,18,18,27,3,0,1,...,SELECCIÓN PREFERENTE,0,22,1,1,1,0,1,3,0
201720918,4,44,4,18,23,23,23,1,3,0,...,SELECCIÓN PREFERENTE,0,21,1,0,0,0,3,1,0
201810705,4,44,2,23,23,23,23,0,4,0,...,EVALUACION INTEGRAL,0,22,0,0,0,0,4,0,0

In [228]:
df_alumno.rename(columns = {'201901.1': '201901', '201902.1': '201902','202001.1':'202001','202002.1':'202002'}, inplace = True)

In [229]:
df_alumno.columns

Index(['cuantos ciclos tiene el alumno', 'curricula ', 'nivel alumno',
       '201901', '201902', '202001', '202002', '18', '23', '27',
       'MAX_CREDITAJE', 'NUM_TURNO', 'POND_ACTUAL', 'POND_ACUMULADO',
       'NUM_OBS_CONS', 'NUM_OBS_ALTE', 'TIPO_MERITO', 'm_habil_COD_CURSO',
       '201901.2', '201902.2', '202001.2', '202002.2', '201901.3', '201902.3',
       '202001.3', '202002.3', 'COD_ESTADO_MAT_CUR', 'NUM_VEZ_CURSO',
       'Extra_acad', 'NO', 'SI',
       'promadio de aprobacion de cursos de manera historica',
       'ADMINISTRACION', 'ADMINISTRACION Y MARKETING',
       'ADMINISTRACION Y RECURSOS HUMANOS', 'CIENCIAS',
       'ECONOMIA Y NEGOCIOS INTERNACIONALES', 'HUMANIDADES',
       'INGENIERIA INDUSTRIAL', 'INICIATIVA EMPRESARIAL',
       'TRADUCCION E INTERPRETACION PROFESIONAL', '#N/D',
       'm_habil_DES_TIPO_INGRESO', 'SEXO', 'Edad', '201901.4', '201902.4',
       '202001.4', '202002.4', '0', '1', 'RIESGO'],
      dtype='object')

In [230]:
df_alumno.describe(include="all")

,cuantos ciclos tiene el alumno,curricula,nivel alumno,201901,201902,202001,202002,18,23,27,...,m_habil_DES_TIPO_INGRESO,SEXO,Edad,201901.4,201902.4,202001.4,202002.4,0,1,RIESGO
count,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000,...,735,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,SELECCIÓN PREFERENTE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,361,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,3.429932,43.427211,3.500680,21.756463,19.695238,17.721088,17.863946,1.296599,0.975510,1.157823,...,NaN,0.537415,19.461224,0.195918,0.221769,0.151020,0.066667,3.364626,0.635374,0.050340
std,0.989138,1.225221,1.288045,3.734625,7.098541,9.663396,11.334185,1.191101,1.079635,1.380919,...,NaN,0.498938,6.441377,0.397176,0.415719,0.358313,0.249614,0.957034,0.957034,0.218795
min,1.000000,41.000000,2.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,44.000000,2.000000,18.000000,18.000000,18.000000,0.000000,0.000000,0.000000,0.000000,...,NaN,0.000000,19.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000,0.000000
50%,4.000000,44.000000,3.000000,23.000000,18.000000,23.000000,23.000000,1.000000,1.000000,1.000000,...,NaN,1.000000,21.000000,0.000000,0.000000,0.000000,0.000000,4.000000,0.000000,0.000000
75%,4.000000,44.000000,5.000000,27.000000,23.000000,23.000000,27.000000,2.000000,2.000000,2.000000,...,NaN,1.000000,22.000000,0.000000,0.000000,0.000000,0.000000,4.000000,1.000000,0.000000
max,4.000000,45.000000,7.000000,27.000000,27.000000,27.000000,27.000000,4.000000,4.000000,4.000000,...,NaN,1.000000,33.000000,1.000000,1.000000,1.000000,1.000000,4.000000,4.000000,1.000000

In [231]:
def cat_alumno(df):
    val_temp = 0
    cont_temp = 0
    if  df['201901'] == 27 :
        val_temp = val_temp + df['201901'] * 0.15
        cont_temp = cont_temp + 1
    elif df['201901'] == 23 :
        val_temp = val_temp + df['201901'] * 0.15
        cont_temp = cont_temp + 1
    elif df['201901'] == 18 :
        val_temp = val_temp + df['201901'] * 0.15
        cont_temp = cont_temp + 1

    if df['201902'] == 27 :
        val_temp = val_temp + df['201902'] * 0.15
        cont_temp = cont_temp + 1
    elif df['201902'] == 23 :
        val_temp = val_temp + df['201902'] * 0.15
        cont_temp = cont_temp + 1
    elif df['201902'] == 18 :
        val_temp = val_temp + df['201902'] * 0.15
        cont_temp = cont_temp + 1

    if df['202001'] == 27 :
        val_temp = val_temp + df['202001'] * 0.3
        cont_temp = cont_temp + 1
    elif df['202001'] == 23 :
        val_temp = val_temp + df['202001'] * 0.3
        cont_temp = cont_temp + 1
    elif df['202001'] == 18 :
        val_temp = val_temp + df['202001'] * 0.3
        cont_temp = cont_temp + 1
    
    if df['202002'] == 27 :
        val_temp = val_temp + df['202002'] * 0.4
        cont_temp = cont_temp + 1
    elif df['202002'] == 23 :
        val_temp = val_temp + df['202002'] * 0.4
        cont_temp = cont_temp + 1
    elif df['202002'] == 18 :
        val_temp = val_temp + df['202002'] * 0.4
        cont_temp = cont_temp + 1

    val_temp = val_temp / cont_temp
    return val_temp

In [232]:
# renombrar CategoriaAlumno por rendimiento
df_alumno['CategoriaAlumno'] = df_alumno.apply(cat_alumno, axis=1)

In [233]:
df_alumno[['201901', '201902', '202001', '202002','CategoriaAlumno']]

            201901  201902  202001  202002  CategoriaAlumno
COD_ALUMNO
201818909       18      23      27      23           7.7125
201621635       18      18      23      23           3.7750
201710287       18      18      18      27           5.7375
201720918       18      23      23      23           4.7625
201810705       23      23      23      23           5.7500
...            ...     ...     ...     ...              ...
20161D186       27      27      23      27          14.6000
201822729       23      23      23      27           8.7000
201818795       18      27      23      23           7.7125
20181D993       27      27      23      27          14.6000
201815082       18      27      27      27          13.6125

[735 rows x 5 columns]

In [234]:
dataframe= df_alumno['CategoriaAlumno'].describe()
dataframe

count    735.000000
mean       7.635499
std        5.372108
min        1.800000
25%        2.787500
50%        6.725000
75%       11.650000
max       17.550000
Name: CategoriaAlumno, dtype: float64

In [235]:
#val_25 = dataframe['25%']
#val_50 = dataframe['50%']
#val_75 = dataframe['75%']
val_max = dataframe['max']
val_prim = val_max / 3
val_seg = val_max * 2 / 3

In [236]:
def tipo_alumno(df, val_prim, val_seg, val_max):
    # 0 < 13.5 && 
    # CAMBIAR A SOLO 3 CATEGORIAS val_max/3 val_max*2/3 val_max
    if df['CategoriaAlumno'] <= val_prim:
        return 1
    elif val_prim < df['CategoriaAlumno'] and df['CategoriaAlumno'] <= val_seg :    
        return 2
    elif val_seg  < df['CategoriaAlumno'] and df['CategoriaAlumno'] <= val_max:
        return 3

In [237]:
df_alumno['ranking'] = df_alumno.apply(tipo_alumno, args=(val_prim, val_seg, val_max), axis=1)

In [238]:
df_alumno[['201901', '201902', '202001', '202002','CategoriaAlumno','ranking']]

            201901  201902  202001  202002  CategoriaAlumno  ranking
COD_ALUMNO
201818909       18      23      27      23           7.7125        2
201621635       18      18      23      23           3.7750        1
201710287       18      18      18      27           5.7375        1
201720918       18      23      23      23           4.7625        1
201810705       23      23      23      23           5.7500        1
...            ...     ...     ...     ...              ...      ...
20161D186       27      27      23      27          14.6000        3
201822729       23      23      23      27           8.7000        2
201818795       18      27      23      23           7.7125        2
20181D993       27      27      23      27          14.6000        3
201815082       18      27      27      27          13.6125        3

[735 rows x 6 columns]

In [248]:
df_base_alumno = df_alumno[['201901', '201902', '202001', '202002','CategoriaAlumno','ranking']]

In [263]:
df_base_alumno

            201901  201902  202001  202002  CategoriaAlumno  ranking
COD_ALUMNO
201818909       18      23      27      23           7.7125        2
201621635       18      18      23      23           3.7750        1
201710287       18      18      18      27           5.7375        1
201720918       18      23      23      23           4.7625        1
201810705       23      23      23      23           5.7500        1
...            ...     ...     ...     ...              ...      ...
20161D186       27      27      23      27          14.6000        3
201822729       23      23      23      27           8.7000        2
201818795       18      27      23      23           7.7125        2
20181D993       27      27      23      27          14.6000        3
201815082       18      27      27      27          13.6125        3

[735 rows x 6 columns]

In [265]:
cod_alumno_evaluar = '201811484'

In [269]:
df_base_alumno.loc[cod_alumno_evaluar]  # [['201901','201902','202001','202002','CategoriaAlumno','ranking']]

201901             27.00
201902             27.00
202001             27.00
202002             27.00
CategoriaAlumno    17.55
ranking             3.00
Name: 201811484, dtype: float64

In [260]:
df_base_alumno

            201901  201902  202001  202002  CategoriaAlumno  ranking
COD_ALUMNO
201818909       18      23      27      23           7.7125        2
201621635       18      18      23      23           3.7750        1
201710287       18      18      18      27           5.7375        1
201720918       18      23      23      23           4.7625        1
201810705       23      23      23      23           5.7500        1
...            ...     ...     ...     ...              ...      ...
20161D186       27      27      23      27          14.6000        3
201822729       23      23      23      27           8.7000        2
201818795       18      27      23      23           7.7125        2
20181D993       27      27      23      27          14.6000        3
201815082       18      27      27      27          13.6125        3

[735 rows x 6 columns]

## Banco de cursos

In [39]:
banco_cursos = pd.read_csv('../data/cursos_curricula_requisitos.csv', index_col='Unnamed: 0', sep=';')

In [40]:
banco_cursos.columns

Index(['COD_LINEA_NEGOCIO', 'COD_PRODUCTO', 'DESC_PRODUCTO', 'COD_CURRICULO',
       'DESC_CURRICULO', 'COD_CURSO', 'DESC_CURSO', 'DESC_ABRE_CURSO', 'clave',
       'COD_DIRECCION', 'NOM_DIRECCION', 'COD_CURSO_ELEC', 'CICLO',
       'CANT_CREDITOS', 'CANT_CREDEQUIV', 'FECHA_CREACION', 'USUARIO_CREACION',
       'FECHA_MODIFICACION', 'USUARIO_MODIFICACION', 'TOTAL CRED', 'REQUISITO',
       'REQUISITO PYTHON', 'Ruta Critica', 'Unnamed: 24',
       'prom_promedios_notas', 'prom_promedios_Aprob'],
      dtype='object')

In [41]:
banco_cursos = banco_cursos[['COD_CURRICULO', 'COD_CURSO', 'prom_promedios_notas', 'prom_promedios_Aprob', 'Ruta Critica', 'TOTAL CRED']]

In [42]:
banco_cursos
# PENDIENTE
# eliminar filas que contengan el valor #DIV/0! en alguna de sus celfas

,COD_CURRICULO,COD_CURSO,prom_promedios_notas,prom_promedios_Aprob,Ruta Critica,TOTAL CRED
0,44,AM130,"14,00",100%,1.0,3
1,45,AM130,"15,26",80%,1.0,3
2,45,HU543,"15,13",74%,2.0,4
3,45,HU548,"14,15",65%,0.0,2
4,44,HU543,"15,33",77%,2.0,4
...,...,...,...,...,...,...
548,41,HU522,"15,70",58%,0.0,3
549,41,TR240,"14,00",40%,0.0,3
550,41,HU469,"16,44",75%,0.0,3
551,41,DE440,#DIV/0!,#DIV/0!,0.0,2
552,42,IN97,"14,59",86%,0.0,4

## Alumno y lista de cursos para matricula

In [1]:
import pandas as pd
xlsx_dataset = pd.ExcelFile('../../../Data_Ingenieria/dataset_2.xlsx')

In [329]:
df_dataset_1 = pd.read_excel(xlsx_dataset, 'dataset_1')

In [330]:
df_dataset_1.columns

Index(['COD_LINEA_NEGOCIO', 'COD_MODAL_EST', 'COD_PERIODO', 'COD_ALUMNO',
       'APELLIDO_PATERN', 'APELLIDO_MATERN', 'NOMBRES', 'COD_FACULTAD',
       'DESCRIPCION_FACULTAD', 'COD_PRODUC_ALUM',
       ...
       'FECHA_RATIFICA', 'SEDE_ALUMNO', 'm_alumno_COD_TIPO_INGRESO',
       'm_alumno_DES_TIPO_INGRESO', 'ORDEN_MERITO_PROD_ACUM',
       'ORDEN_MERITO_PROD', 'TIPO_MERITO_PROD', 'TIPO_MERITO_PROD_ACUM',
       'COD_USUARIO', 'COD_PERSONA'],
      dtype='object', length=124)

In [324]:
for col in df_dataset_1.columns:
    print(col)

COD_LINEA_NEGOCIO
COD_MODAL_EST
COD_PERIODO
APELLIDO_PATERN
APELLIDO_MATERN
NOMBRES
COD_FACULTAD
DESCRIPCION_FACULTAD
COD_PRODUC_ALUM
DES_PRODUC_ALUM
COD_CURRIC_ALUM
COD_TIPO_MAT_ALU
DES_TIPO_MAT_ALU
COD_PROD_MAT_EQUIV
DESC_PROD_MAT_EQUIV
COD_ESTADO_MAT_ALU
DES_ESTADO_MAT_ALU
NIVEL_ALUM
MAX_CREDITAJE
MAX_ASIGNAT
NUM_TURNO
turno2
ESTADO_EGRESADO
ESTADO_MAT_EXTEM
FECHA_MATRICULA
ESTADO_INGRESANTE
ESTADO_PREMATRIC
ESTADO_PRE_EXTEM
NUM_VEZ_PREMAT
m_habil_FECHA_CREA_ALU
m_habil_USUARIO_CREA_ALU
m_habil_FECHA_MODIF_ALU
m_habil_USUARIO_MODIF_ALU
POND_ACTUAL
POND_ACUMULADO
NUM_OBS_CONS
NUM_OBS_ALTE
ESTADO_CIERRE
ORDEN_MERITO
TIPO_MERITO
TIPO_MERITO_2
m_curso_FECHA_CREA_ALU
m_curso_USUARIO_CREA_ALU
m_curso_FECHA_MODIF_ALU
m_curso_USUARIO_MODIF_ALU
COD_MODAL_CURSO
m_habil_COD_CURSO
m_habil_DES_CURSO
NIVEL_REFERENCIAL
HABILITADO
clave
COD_DIRECCION
NOM_DIRECCION
COD_CURSO_ELEC
m_curso_COD_CURSO
m_curso_DES_CURSO
COD_CURSO_DET_EQUIV
DESC_CURSO_DET_EQUIV
CRED_CURSO
CANT_CREDEQUIV
CRED_TOTAL_CURSO
COD_PRODUC_CURSO
DES_PRODUC_CURSO
COD_CURRIC_CURSO
m_habil_COD_TIPO_MATRIC_CUR
m_habil_DES_TIPO_MATRIC_CUR
COD_PROD_EQUIV
DESC_PROD_EQUIV
COD_ESTADO_MAT_CUR
DES_ESTADO_MAT_CUR
m_curso_COD_TIPO_MATRIC_CUR
m_curso_DES_TIPO_MATRIC_CUR
FECHA_MATRICULA_CUR
NUM_VEZ_CURSO
NOTA_CURSO
ESTADO_ELEGIDO_USU
ESTADO_APROBO
ESTADO_APROB_CUR
ESTADO_CIERRE_CUR
m_habil_FECHA_CREA_CUR
m_habil_USUARIO_CREA_CUR
m_habil_FECHA_MODIF_CUR
m_habil_USUARIO_MODIF_CUR
m_habil_COD_TIPO_INGRESO
m_habil_DES_TIPO_INGRESO
IND_MATRICULADO
PRIOR_CURSO
PRIOR_SELECCION
SEXO
DIRECCION
NOMBRE_UBIGEO
VALUMPERS_TELEFONO_CASA
VALUMPERS_TELEFONO_MOVIL
m_curso_COD_TIPO_INGRESO
m_curso_DES_TIPO_INGRESO
m_curso_FECHA_CREA_CUR
m_curso_USUARIO_CREA_CUR
m_curso_USUARIO_MODIF_CUR
m_curso_FECHA_MODIF_CUR
COD_CURSO_ORIG
COD_CURSO_ORIG_EQUIV
COD_CURRICULO_ORIG
COD_CICLO_ORIG
MONEDA
NUM_CURSOS
NUM_CUOTAS
FECHA_NACIMIENTO
TIPO_DOCUMENTO
DOCUMEN_IDENTIDA
RIESGO
USUARIO_MODIF_PREMAT
FECHA_MODIF_PREMAT
USUARIO_RATIFICA
FECHA_RATIFICA
SEDE_ALUMNO
m_alumno_COD_TIPO_INGRESO
m_alumno_DES_TIPO_INGRESO
ORDEN_MERITO_PROD_ACUM
ORDEN_MERITO_PROD
TIPO_MERITO_PROD
TIPO_MERITO_PROD_ACUM
COD_USUARIO
COD_PERSONA

In [331]:
df_dataset_1 = df_dataset_1.set_index('COD_ALUMNO')

In [239]:
#cod_alumno_evaluar = '201322051'

In [332]:
df_dataset_1.loc[cod_alumno_evaluar].head()

,COD_LINEA_NEGOCIO,COD_MODAL_EST,COD_PERIODO,APELLIDO_PATERN,APELLIDO_MATERN,NOMBRES,COD_FACULTAD,DESCRIPCION_FACULTAD,COD_PRODUC_ALUM,DES_PRODUC_ALUM,...,FECHA_RATIFICA,SEDE_ALUMNO,m_alumno_COD_TIPO_INGRESO,m_alumno_DES_TIPO_INGRESO,ORDEN_MERITO_PROD_ACUM,ORDEN_MERITO_PROD,TIPO_MERITO_PROD,TIPO_MERITO_PROD_ACUM,COD_USUARIO,COD_PERSONA
COD_ALUMNO,,,,,,,,,,,,,,,,,,,,,
201811484,U,AC,201901,CHANG,BERNAL,PATRICIA SIULEYN,NaN,NaN,3310004,INGENIERÍA INDUSTRIAL,...,2019-03-11 09:28:33,CAMPUS SAN ISIDRO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201811484,U,AC,201901,CHANG,BERNAL,PATRICIA SIULEYN,NaN,NaN,3310004,INGENIERÍA INDUSTRIAL,...,2019-03-11 09:28:33,CAMPUS SAN ISIDRO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201811484,U,AC,201901,CHANG,BERNAL,PATRICIA SIULEYN,NaN,NaN,3310004,INGENIERÍA INDUSTRIAL,...,2019-03-11 09:28:33,CAMPUS SAN ISIDRO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201811484,U,AC,201901,CHANG,BERNAL,PATRICIA SIULEYN,NaN,NaN,3310004,INGENIERÍA INDUSTRIAL,...,2019-03-11 09:28:33,CAMPUS SAN ISIDRO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201811484,U,AC,201901,CHANG,BERNAL,PATRICIA SIULEYN,1.0,INGENIERIA,3310004,INGENIERÍA INDUSTRIAL,...,2019-03-11 09:28:33,CAMPUS SAN ISIDRO,51.0,SELECCIÓN PREFERENTE,81.0,40.0,1.0,1.0,U201811484,20462810.0

In [333]:
varCOD_CURR = df_dataset_1.loc[cod_alumno_evaluar]['COD_CURRIC_ALUM'].max()
varCOD_CURR

44

In [334]:
varCOD_PERIODO =df_dataset_1.loc[cod_alumno_evaluar]['COD_PERIODO'].unique().max()
varCOD_PERIODO

202002

In [243]:
#varMAX_CRED =df_dataset_1.loc[cod_alumno_evaluar]['MAX_CREDITAJE'].unique()
#varMAX_CRED

array([23, 27])

In [335]:
lista_cursos = df_dataset_1.loc[cod_alumno_evaluar].query('COD_PERIODO == @varCOD_PERIODO & COD_CURRIC_ALUM == @varCOD_CURR')['m_habil_COD_CURSO'].to_list()
lista_cursos

['AH57',
 'EF40',
 'HU187',
 'HU469',
 'HU508',
 'HU51',
 'IN215',
 'TR281',
 'IN147',
 'IN176',
 'IN214',
 'IN395',
 'IN399',
 'IN92']

In [336]:
df_dataset_1.loc[cod_alumno_evaluar].query('COD_PERIODO == @varCOD_PERIODO & COD_CURRIC_ALUM == @varCOD_CURR')[['COD_PERIODO','COD_CURRIC_ALUM','m_habil_COD_CURSO','MAX_CREDITAJE','HABILITADO','CRED_CURSO']]

,COD_PERIODO,COD_CURRIC_ALUM,m_habil_COD_CURSO,MAX_CREDITAJE,HABILITADO,CRED_CURSO
COD_ALUMNO,,,,,,
201811484,202002,44,AH57,27,NO,NaN
201811484,202002,44,EF40,27,SI,NaN
201811484,202002,44,HU187,27,SI,NaN
201811484,202002,44,HU469,27,SI,NaN
201811484,202002,44,HU508,27,NO,NaN
201811484,202002,44,HU51,27,SI,NaN
201811484,202002,44,IN215,27,SI,NaN
201811484,202002,44,TR281,27,SI,NaN
201811484,202002,44,IN147,27,SI,4.0
201811484,202002,44,IN176,27,SI,4.0
201811484,202002,44,IN214,27,SI,5.0
201811484,202002,44,IN395,27,SI,3.0
201811484,202002,44,IN399,27,SI,4.0
201811484,202002,44,IN92,27,SI,3.0

In [337]:
df_eval_alum_curso = df_dataset_1.loc[cod_alumno_evaluar].query('COD_PERIODO == @varCOD_PERIODO & COD_CURRIC_ALUM == @varCOD_CURR')[['COD_PERIODO','COD_CURRIC_ALUM','m_habil_COD_CURSO','MAX_CREDITAJE','HABILITADO','CRED_CURSO']]

In [338]:
df_base_alumno.loc[cod_alumno_evaluar]['ranking']

3.0

In [339]:
df_eval_alum_curso['ranking'] = df_base_alumno.loc[cod_alumno_evaluar]['ranking']
df_eval_alum_curso

,COD_PERIODO,COD_CURRIC_ALUM,m_habil_COD_CURSO,MAX_CREDITAJE,HABILITADO,CRED_CURSO,ranking
COD_ALUMNO,,,,,,,
201811484,202002,44,AH57,27,NO,NaN,3.0
201811484,202002,44,EF40,27,SI,NaN,3.0
201811484,202002,44,HU187,27,SI,NaN,3.0
201811484,202002,44,HU469,27,SI,NaN,3.0
201811484,202002,44,HU508,27,NO,NaN,3.0
201811484,202002,44,HU51,27,SI,NaN,3.0
201811484,202002,44,IN215,27,SI,NaN,3.0
201811484,202002,44,TR281,27,SI,NaN,3.0
201811484,202002,44,IN147,27,SI,4.0,3.0
201811484,202002,44,IN176,27,SI,4.0,3.0
201811484,202002,44,IN214,27,SI,5.0,3.0
201811484,202002,44,IN395,27,SI,3.0,3.0
201811484,202002,44,IN399,27,SI,4.0,3.0
201811484,202002,44,IN92,27,SI,3.0,3.0

In [340]:
lista_cursos

['AH57',
 'EF40',
 'HU187',
 'HU469',
 'HU508',
 'HU51',
 'IN215',
 'TR281',
 'IN147',
 'IN176',
 'IN214',
 'IN395',
 'IN399',
 'IN92']

In [341]:
banco_cursos

,COD_CURRICULO,COD_CURSO,prom_promedios_notas,prom_promedios_Aprob,Ruta Critica,TOTAL CRED
0,44,AM130,"14,00",100%,1.0,3
1,45,AM130,"15,26",80%,1.0,3
2,45,HU543,"15,13",74%,2.0,4
3,45,HU548,"14,15",65%,0.0,2
4,44,HU543,"15,33",77%,2.0,4
...,...,...,...,...,...,...
548,41,HU522,"15,70",58%,0.0,3
549,41,TR240,"14,00",40%,0.0,3
550,41,HU469,"16,44",75%,0.0,3
551,41,DE440,#DIV/0!,#DIV/0!,0.0,2
552,42,IN97,"14,59",86%,0.0,4

In [342]:
df_new_banco_cursos = banco_cursos.set_index('COD_CURSO')
df_new_banco_cursos

,COD_CURRICULO,prom_promedios_notas,prom_promedios_Aprob,Ruta Critica,TOTAL CRED
COD_CURSO,,,,,
AM130,44,"14,00",100%,1.0,3
AM130,45,"15,26",80%,1.0,3
HU543,45,"15,13",74%,2.0,4
HU548,45,"14,15",65%,0.0,2
HU543,44,"15,33",77%,2.0,4
...,...,...,...,...,...
HU522,41,"15,70",58%,0.0,3
TR240,41,"14,00",40%,0.0,3
HU469,41,"16,44",75%,0.0,3
DE440,41,#DIV/0!,#DIV/0!,0.0,2
IN97,42,"14,59",86%,0.0,4

In [319]:
#df_eval_alum_curso[df_eval_alum_curso['m_habil_COD_CURSO'] == 'AH57']['prom_promedios_notas'] = 16.00 # 15,57

In [325]:
#df_eval_alum_curso.at[df_eval_alum_curso['m_habil_COD_CURSO'] == 'AH57', 'prom_promedios_notas'] = 17

In [326]:
#df_eval_alum_curso[df_eval_alum_curso['m_habil_COD_CURSO'] == 'AH57']['prom_promedios_notas']

COD_ALUMNO
201811484    17
Name: prom_promedios_notas, dtype: object

In [343]:
for id_curso in lista_cursos:
    #print(id_curso)
    #print(df_new_banco_cursos[ df_new_banco_cursos['COD_CURRICULO' ] == varCOD_CURR ].loc[id_curso]['Ruta Critica'])
    df_eval_alum_curso.at[df_eval_alum_curso['m_habil_COD_CURSO'] == id_curso, 'Ruta Critica'] = df_new_banco_cursos[ df_new_banco_cursos['COD_CURRICULO' ] == varCOD_CURR ].loc[id_curso]['Ruta Critica']
    df_eval_alum_curso.at[df_eval_alum_curso['m_habil_COD_CURSO'] == id_curso, 'prom_promedios_Aprob'] = df_new_banco_cursos[ df_new_banco_cursos['COD_CURRICULO' ] == varCOD_CURR ].loc[id_curso]['prom_promedios_Aprob']
    df_eval_alum_curso.at[df_eval_alum_curso['m_habil_COD_CURSO'] == id_curso, 'prom_promedios_notas'] = df_new_banco_cursos[ df_new_banco_cursos['COD_CURRICULO' ] == varCOD_CURR ].loc[id_curso]['prom_promedios_notas']

In [344]:
df_eval_alum_curso

,COD_PERIODO,COD_CURRIC_ALUM,m_habil_COD_CURSO,MAX_CREDITAJE,HABILITADO,CRED_CURSO,ranking,Ruta Critica,prom_promedios_Aprob,prom_promedios_notas
COD_ALUMNO,,,,,,,,,,
201811484,202002,44,AH57,27,NO,NaN,3.0,0.0,76%,"15,96"
201811484,202002,44,EF40,27,SI,NaN,3.0,0.0,48%,"12,50"
201811484,202002,44,HU187,27,SI,NaN,3.0,0.0,80%,"15,10"
201811484,202002,44,HU469,27,SI,NaN,3.0,0.0,75%,"16,44"
201811484,202002,44,HU508,27,NO,NaN,3.0,0.0,78%,"15,38"
201811484,202002,44,HU51,27,SI,NaN,3.0,0.0,85%,"15,76"
201811484,202002,44,IN215,27,SI,NaN,3.0,1.0,89%,"14,57"
201811484,202002,44,TR281,27,SI,NaN,3.0,1.0,89%,"15,11"
201811484,202002,44,IN147,27,SI,4.0,3.0,2.0,90%,"15,02"
201811484,202002,44,IN176,27,SI,4.0,3.0,2.0,68%,"13,63"
201811484,202002,44,IN214,27,SI,5.0,3.0,1.0,69%,"13,89"
201811484,202002,44,IN395,27,SI,3.0,3.0,1.0,61%,"13,03"
201811484,202002,44,IN399,27,SI,4.0,3.0,1.0,86%,"15,32"
201811484,202002,44,IN92,27,SI,3.0,3.0,1.0,94%,"15,57"

In [352]:
df_eval_alum_curso['prom_promedios_notas'] = df_eval_alum_curso['prom_promedios_notas'].str.replace(',', '.').astype(float)

In [353]:
df_eval_alum_curso

,COD_PERIODO,COD_CURRIC_ALUM,m_habil_COD_CURSO,MAX_CREDITAJE,HABILITADO,CRED_CURSO,ranking,Ruta Critica,prom_promedios_Aprob,prom_promedios_notas
COD_ALUMNO,,,,,,,,,,
201811484,202002,44,AH57,27,NO,NaN,3.0,0.0,76%,15.96
201811484,202002,44,EF40,27,SI,NaN,3.0,0.0,48%,12.50
201811484,202002,44,HU187,27,SI,NaN,3.0,0.0,80%,15.10
201811484,202002,44,HU469,27,SI,NaN,3.0,0.0,75%,16.44
201811484,202002,44,HU508,27,NO,NaN,3.0,0.0,78%,15.38
201811484,202002,44,HU51,27,SI,NaN,3.0,0.0,85%,15.76
201811484,202002,44,IN215,27,SI,NaN,3.0,1.0,89%,14.57
201811484,202002,44,TR281,27,SI,NaN,3.0,1.0,89%,15.11
201811484,202002,44,IN147,27,SI,4.0,3.0,2.0,90%,15.02
201811484,202002,44,IN176,27,SI,4.0,3.0,2.0,68%,13.63
201811484,202002,44,IN214,27,SI,5.0,3.0,1.0,69%,13.89
201811484,202002,44,IN395,27,SI,3.0,3.0,1.0,61%,13.03
201811484,202002,44,IN399,27,SI,4.0,3.0,1.0,86%,15.32
201811484,202002,44,IN92,27,SI,3.0,3.0,1.0,94%,15.57

In [354]:
df_eval_alum_curso.to_csv('df_eval_alum_curso.csv')

In [2]:
import pandas as pd

In [3]:
df_tmp = pd.read_csv('df_eval_alum_curso.csv')
df_tmp

,COD_ALUMNO,COD_PERIODO,COD_CURRIC_ALUM,m_habil_COD_CURSO,MAX_CREDITAJE,HABILITADO,CRED_CURSO,ranking,Ruta Critica,prom_promedios_Aprob,prom_promedios_notas
0,201811484,202002,44,AH57,27,NO,NaN,3.0,0.0,76%,15.96
1,201811484,202002,44,EF40,27,SI,NaN,3.0,0.0,48%,12.50
2,201811484,202002,44,HU187,27,SI,NaN,3.0,0.0,80%,15.10
3,201811484,202002,44,HU469,27,SI,NaN,3.0,0.0,75%,16.44
4,201811484,202002,44,HU508,27,NO,NaN,3.0,0.0,78%,15.38
5,201811484,202002,44,HU51,27,SI,NaN,3.0,0.0,85%,15.76
6,201811484,202002,44,IN215,27,SI,NaN,3.0,1.0,89%,14.57
7,201811484,202002,44,TR281,27,SI,NaN,3.0,1.0,89%,15.11
8,201811484,202002,44,IN147,27,SI,4.0,3.0,2.0,90%,15.02
9,201811484,202002,44,IN176,27,SI,4.0,3.0,2.0,68%,13.63
10,201811484,202002,44,IN214,27,SI,5.0,3.0,1.0,69%,13.89
11,201811484,202002,44,IN395,27,SI,3.0,3.0,1.0,61%,13.03
12,201811484,202002,44,IN399,27,SI,4.0,3.0,1.0,86%,15.32
13,201811484,202002,44,IN92,27,SI,3.0,3.0,1.0,94%,15.57

In [5]:
df_tmp.set_index('COD_ALUMNO',inplace=True)
df_tmp

,COD_PERIODO,COD_CURRIC_ALUM,m_habil_COD_CURSO,MAX_CREDITAJE,HABILITADO,CRED_CURSO,ranking,Ruta Critica,prom_promedios_Aprob,prom_promedios_notas
COD_ALUMNO,,,,,,,,,,
201811484,202002,44,AH57,27,NO,NaN,3.0,0.0,76%,15.96
201811484,202002,44,EF40,27,SI,NaN,3.0,0.0,48%,12.50
201811484,202002,44,HU187,27,SI,NaN,3.0,0.0,80%,15.10
201811484,202002,44,HU469,27,SI,NaN,3.0,0.0,75%,16.44
201811484,202002,44,HU508,27,NO,NaN,3.0,0.0,78%,15.38
201811484,202002,44,HU51,27,SI,NaN,3.0,0.0,85%,15.76
201811484,202002,44,IN215,27,SI,NaN,3.0,1.0,89%,14.57
201811484,202002,44,TR281,27,SI,NaN,3.0,1.0,89%,15.11
201811484,202002,44,IN147,27,SI,4.0,3.0,2.0,90%,15.02
201811484,202002,44,IN176,27,SI,4.0,3.0,2.0,68%,13.63
201811484,202002,44,IN214,27,SI,5.0,3.0,1.0,69%,13.89
201811484,202002,44,IN395,27,SI,3.0,3.0,1.0,61%,13.03
201811484,202002,44,IN399,27,SI,4.0,3.0,1.0,86%,15.32
201811484,202002,44,IN92,27,SI,3.0,3.0,1.0,94%,15.57

In [13]:
df_sistm_recome = df_tmp.sort_values(['HABILITADO', 'Ruta Critica','prom_promedios_Aprob','prom_promedios_notas'], ascending=[False, False, False, False])
df_sistm_recome

,COD_PERIODO,COD_CURRIC_ALUM,m_habil_COD_CURSO,MAX_CREDITAJE,HABILITADO,CRED_CURSO,ranking,Ruta Critica,prom_promedios_Aprob,prom_promedios_notas
COD_ALUMNO,,,,,,,,,,
201811484,202002,44,IN147,27,SI,4.0,3.0,2.0,90%,15.02
201811484,202002,44,IN176,27,SI,4.0,3.0,2.0,68%,13.63
201811484,202002,44,IN92,27,SI,3.0,3.0,1.0,94%,15.57
201811484,202002,44,TR281,27,SI,NaN,3.0,1.0,89%,15.11
201811484,202002,44,IN215,27,SI,NaN,3.0,1.0,89%,14.57
201811484,202002,44,IN399,27,SI,4.0,3.0,1.0,86%,15.32
201811484,202002,44,IN214,27,SI,5.0,3.0,1.0,69%,13.89
201811484,202002,44,IN395,27,SI,3.0,3.0,1.0,61%,13.03
201811484,202002,44,HU51,27,SI,NaN,3.0,0.0,85%,15.76
201811484,202002,44,HU187,27,SI,NaN,3.0,0.0,80%,15.10
201811484,202002,44,HU469,27,SI,NaN,3.0,0.0,75%,16.44
201811484,202002,44,EF40,27,SI,NaN,3.0,0.0,48%,12.50
201811484,202002,44,HU508,27,NO,NaN,3.0,0.0,78%,15.38
201811484,202002,44,AH57,27,NO,NaN,3.0,0.0,76%,15.96

# Sistema de Recomdanción al Alumno

In [12]:
df_sistm_recome[df_sistm_recome['HABILITADO'] == "SI"]

,COD_PERIODO,COD_CURRIC_ALUM,m_habil_COD_CURSO,MAX_CREDITAJE,HABILITADO,CRED_CURSO,ranking,Ruta Critica,prom_promedios_Aprob,prom_promedios_notas
COD_ALUMNO,,,,,,,,,,
201811484,202002,44,IN147,27,SI,4.0,3.0,2.0,90%,15.02
201811484,202002,44,IN176,27,SI,4.0,3.0,2.0,68%,13.63
201811484,202002,44,IN92,27,SI,3.0,3.0,1.0,94%,15.57
201811484,202002,44,TR281,27,SI,NaN,3.0,1.0,89%,15.11
201811484,202002,44,IN215,27,SI,NaN,3.0,1.0,89%,14.57
201811484,202002,44,IN399,27,SI,4.0,3.0,1.0,86%,15.32
201811484,202002,44,IN214,27,SI,5.0,3.0,1.0,69%,13.89
201811484,202002,44,IN395,27,SI,3.0,3.0,1.0,61%,13.03
201811484,202002,44,HU51,27,SI,NaN,3.0,0.0,85%,15.76
201811484,202002,44,HU187,27,SI,NaN,3.0,0.0,80%,15.10
201811484,202002,44,HU469,27,SI,NaN,3.0,0.0,75%,16.44
201811484,202002,44,EF40,27,SI,NaN,3.0,0.0,48%,12.50

In [ ]:
# COD_PERIODO	COD_CURRIC_ALUM	m_habil_COD_CURSO	MAX_CREDITAJE	HABILITADO	ranking	Ruta Critica    prom_promedios_Aprob	prom_promedios_notas

## Sistema de Recomendacion

- Filtra por malla
- Busca en el banco de datos la lista de cursos para matricula del alumno

In [246]:
df_newmalla = pd.DataFrame()

In [247]:
for curso in lista_cursos:
    #df_objtmp=banco_cursos_malla[banco_cursos_malla.COD_CURSO == curso][['COD_CURSO', 'prom_promedios_notas', 'prom_promedios_Aprob', 'Ruta Critica']]
    df_newmalla = df_newmalla.append(banco_cursos_malla.loc[ curso ,:] )

df_newmalla

,COD_CURRICULO,Ruta Critica,TOTAL CRED,prom_promedios_Aprob,prom_promedios_notas
AD185,44.0,0.0,3.0,89%,"17,98"
AD687,44.0,0.0,3.0,86%,"16,74"
AH57,44.0,0.0,3.0,76%,"15,96"
AH66,44.0,0.0,3.0,83%,"16,63"
AH67,44.0,0.0,3.0,82%,"16,15"
HU469,44.0,0.0,3.0,75%,"16,44"
HU508,44.0,0.0,3.0,78%,"15,38"
HU522,44.0,0.0,3.0,58%,"15,70"
IN149,44.0,0.0,3.0,88%,"15,04"
IN150,44.0,0.0,3.0,75%,"14,84"
IN155,44.0,0.0,3.0,91%,"16,02"
IN181,44.0,0.0,3.0,91%,"16,70"
IN183,44.0,0.0,3.0,74%,"15,79"
IN184,44.0,0.0,3.0,81%,"15,56"
IN185,44.0,0.0,3.0,49%,"13,21"
IN186,44.0,0.0,3.0,75%,"15,85"
IN187,44.0,0.0,3.0,90%,"15,64"
IN395,44.0,1.0,3.0,61%,"13,03"
HU187,44.0,0.0,3.0,80%,"15,10"
HU51,44.0,0.0,3.0,85%,"15,76"
IN134,44.0,1.0,4.0,95%,"15,12"
IN137,44.0,0.0,3.0,94%,"15,67"
IN175,44.0,1.0,4.0,86%,"14,59"
IN178,44.0,1.0,3.0,81%,"14,53"
IN215,44.0,1.0,4.0,89%,"14,57"
IN93,44.0,1.0,3.0,97%,"15,54"

In [ ]:
df_newmalla

Leer archivo que contiene perfil del alumno, recuperar valor de la columna "RENDIMIENTO" para ese alumno

Segun ese valor retornar los cursos recomendandos

Si RENDIMIENTO igual BUENO retorno cursos segun ruta critica

Si RENDIMIENTO igual REGULAR ...

Si RENDIMIENTO igual MALO considerar promedios y aprobacion

## Calcular el promedio del promedio de las notas x Curso Curricula

In [221]:
xlsx_dataset_cursoCurr = pd.ExcelFile('../../../Data_Ingenieria/dataset_1.xlsx')

In [222]:
df_dataset_cursoCurr = pd.read_excel(xlsx_dataset_cursoCurr, 'dataset_1')

In [189]:
#del  xlsx_dataset_cursoCurr

In [194]:
df_dataset_cursoCurr.rename({'m_curso_COD_CURSO':'COD_CURSO'}, inplace = True)

In [196]:
df_dataset_cursoCurr = df_dataset_cursoCurr.set_index('m_curso_COD_CURSO')
# eliminar las filas que estan en vacio

In [203]:
df_dataset_cursoCurr.columns

Index(['COD_LINEA_NEGOCIO', 'COD_MODAL_EST', 'COD_PERIODO', 'COD_ALUMNO',
       'APELLIDO_PATERN', 'APELLIDO_MATERN', 'NOMBRES', 'COD_FACULTAD',
       'DESCRIPCION_FACULTAD', 'COD_PRODUC_ALUM',
       ...
       'FECHA_RATIFICA', 'SEDE_ALUMNO', 'm_alumno_COD_TIPO_INGRESO',
       'm_alumno_DES_TIPO_INGRESO', 'ORDEN_MERITO_PROD_ACUM',
       'ORDEN_MERITO_PROD', 'TIPO_MERITO_PROD', 'TIPO_MERITO_PROD_ACUM',
       'COD_USUARIO', 'COD_PERSONA'],
      dtype='object', length=123)

In [219]:
df_dataset_cursoCurr['COD_PERIODO'].unique

<bound method Series.unique of m_curso_COD_CURSO
NaN      201901
NaN      201901
NaN      201901
NaN      201901
NaN      201901
          ...
HU193    202002
HU543    202002
IN142    202002
MA420    202002
MA465    202002
Name: COD_PERIODO, Length: 268119, dtype: int64>

In [215]:
df_dataset_cursoCurr[['COD_PERIODO','COD_CURRIC_ALUM','m_habil_COD_CURSO','NOTA_CURSO']]

                   COD_PERIODO  COD_CURRIC_ALUM m_habil_COD_CURSO  NOTA_CURSO
m_curso_COD_CURSO
NaN                     201901               41             AD185         NaN
NaN                     201901               41             AD687         NaN
NaN                     201901               41             AD688         NaN
NaN                     201901               41             AD690         NaN
NaN                     201901               41              AH53         NaN
...                        ...              ...               ...         ...
HU193                   202002               45             HU193        77.0
HU543                   202002               45             HU543        77.0
IN142                   202002               45             IN142        77.0
MA420                   202002               45             MA420        77.0
MA465                   202002               45             MA465        77.0

[268119 rows x 4 columns]

In [ ]:
for col in df_dataset_cursoCurr.columns: 
    print(col)

In [ ]:
df_dataset_cursoCurr

In [154]:
 
#entries = [[]]
for curso in lista_cursos:
    #df.loc[df['A'] == item]
    #df_objtmp=banco_cursos_malla[banco_cursos_malla.COD_CURSO == curso][['COD_CURSO', 'prom_promedios_notas', 'prom_promedios_Aprob', 'Ruta Critica']]
    entry = banco_cursos_malla.loc[ curso ,:].to_list()
    entries.append(entry)
    #print(entry)

print(pd.DataFrame(entries))

        0      1     2    3    4
0     NaN   None  None  NaN  NaN
1    44.0  17,98   89%  0.0  3.0
2    44.0  16,74   86%  0.0  3.0
3    44.0  15,96   76%  0.0  3.0
4    44.0  16,63   83%  0.0  3.0
..    ...    ...   ...  ...  ...
126  44.0  15,67   94%  0.0  3.0
127  44.0  14,59   86%  1.0  4.0
128  44.0  14,53   81%  1.0  3.0
129  44.0  14,57   89%  1.0  4.0
130  44.0  15,54   97%  1.0  3.0

[131 rows x 5 columns]

In [91]:
dfObj

Empty DataFrame
Columns: [COD_CURSO, prom_promedios_notas, prom_promedios_Aprob, Ruta Critica]
Index: []

## Considerando rendimiento del alumno

- Leer archivo que contiene perfil del alumno, recuperar valor de la columna "RENDIMIENTO" para ese alumno
- Segun ese valor retornar los cursos recomendandos
    - Si RENDIMIENTO igual BUENO 
      retorno cursos segun ruta critica
    - Si RENDIMIENTO igual REGULAR
      ...
    - Si RENDIMIENTO igual MALO
      considerar promedios y aprobacion

In [ ]:
#escoger el curso que este vigente 
#recomendar el de mayor nota
#considerar el ciclo en que se lleva el curso
#el alumno tiene hasta 3 niveles de dispersion en reglamento
#considerar que el alumno cubra su carga maxima teniendo la prioridad los cursos obligatorios y luego los electivos(dependera cuantos les faltan)
#recomendar el curso que da mejor avance curricular como prioridad